<!-- admin/view_transaction.html -->
{% extends 'layout.html' %}

{% block title %}{% if not transaction %}No Transaction Found{% else %}View Transaction - #{{ '%05d' % transaction.object_id }}{% endif %}{% endblock %}

{% block content %}
    <section id="view_transaction" class="columns">
        {% if not transaction %}
            <p>No transaction was found with that ID.</p>
        {% else %}
            <h4>Transaction Details</h4>
            <p><strong>User</strong>: <a href="{{ url_for('admin_users.view_user', user_id=transaction.user.object_id) }}">{{ transaction.user.full_name }}</a></p>
            <p><strong>Payment Method</strong>: {{ transaction.payment_method }}</p>
            <p><strong>Total Value</strong>: &pound;{{ transaction.value_pounds }}</p>
            <p><strong>Created</strong>: {{ transaction.created.strftime('%c') }}</p>
            {% if transaction.payment_method == 'Card' and transaction.eway_transaction != None %}
                <p><strong>Eway Transaction</strong>: <a href="{{ url_for('admin.view_eway_transaction', eway_transaction_id=transaction.eway_transaction.object_id) }}">#{{ '%05d' % transaction.eway_transaction.object_id }}</a></p>
            {% elif transaction.payment_method == 'Battels' %}
                <p><strong>Battels Term</strong>: {{ transaction.battels_term }}</p>
            {% endif %}
            <a id="events"></a>
            <h4>Events</h4>
            {% if events.items %}
                <table id="events_table">
                    <thead>
                        <tr>
                            <th>Log ID</th>
                            <th>Timestamp</th>
                            <th>Actor</th>
                            <th>Message</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in events.items %}
                            <tr>
                                <td>{{ '%05d' % log.object_id }}</td>
                                <td>{{ log.timestamp.strftime('%c') }}</td>
                                <td>
                                    {% if log.actor %}
                                        <a href="url_for('admin_users.view_user', user_id=log.actor_id) }}">{{ log.actor.full_name }}</a>
                                    {% else %}
                                        Unknown Actor
                                    {% endif %}
                                </td>
                                <td>{{ log.action }}</td>
                                <td><a href="{{ url_for('admin.view_log', entry_id=log.object_id) }}" class="button tiny">View</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if events.has_prev %}
                    <a href="{{ url_for('admin.view_transaction', transaction_id=transaction.object_id, events_page=(events_page-1)) }}#events" class="button tiny">Previous Page</a>
                {% endif %}
                {% if events.has_next %}
                    <a href="{{ url_for('admin.view_transaction', transaction_id=transaction.object_id, events_page=(events_page+1)) }}#events" class="button tiny">Next Page</a>
                {% endif %}
            {% else %}
                <p>No events recorded.</p>
            {% endif %}
        {% endif %}
    </section>
{% endblock %}
