<!-- admin/view_log.html -->
{% extends 'layout.html' %}

{% block title %}{% if not log %}No Log Entry Found{% else %}View Log Entry - #{{ '%05d' % log.object_id }}{% endif %}{% endblock %}

{% block content %}
    <section id="view_log" class="columns">
        {% if not log %}
            <p>No log entry was found with that ID.</p>
        {% else %}
            <h4>Log Details</h4>
            <p><strong>Timestamp</strong>: {{ log.timestamp.strftime('%c') }}</p>
            <p><strong>IP Address</strong>: {{ log.ip_address }}</p>
            <p><strong>Message</strong>: {{ log.action }}</p>
            {% if log.user != None %}
                <p><strong>User</strong>: <a href="{{ url_for('admin_users.view_user', user_id=log.user.object_id) }}">{{ log.user.full_name }}</a></p>
            {% endif %}
            {% if log.actor != log.user and log.actor != None %}
                <p><strong>Actor</strong>: <a href="{{ url_for('admin_users.view_user', user_id=log.actor.object_id) }}">{{ log.actor.full_name }}</a></p>
            {% endif %}
            {% if log.card_transaction != None %}
                <p><strong>Card Transaction</strong>: <a href="{{ url_for('admin.view_transaction', user_id=log.card_transaction.object_id) }}">#{{ '%05d' % log.card_transaction.object_id }}</a></p>
            {% endif %}
            <h4>Related Tickets</h4>
            {% if log.tickets.count() > 0 %}
                <table id="tickets_table">
                    <thead>
                        <tr>
                            <th>Ticket Number</th>
                            <th>Name on Ticket</th>
                            <th>Ticket Status</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticket in log.tickets %}
                            <tr id="ticket-{{ ticket.object_id }}">
                                <td>#{{ '%05d' % ticket.object_id }}</td>
                                <td>
                                    {% if ticket.name == None %}Not Set{% else %}{{ ticket.name }}{% endif %}
                                </td>
                                <td>
                                    {% if ticket.cancelled -%}
                                        Cancelled.
                                    {% elif ticket.collected -%}
                                    Collected as {{ ticket.barcode }}.
                                    {% elif ticket.paid -%}
                                        {% if ticket.payment_method == 'Free' -%}
                                            Free Ticket.
                                        {% else -%}
                                            Paid for by {{ ticket.payment_method }}.
                                        {% endif %}
                                    {% else -%}
                                        Awaiting payment. Expires {{ ticket.expires.strftime('%H:%M %d/%m/%Y') }}
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ url_for('admin_tickets.view_ticket', id=ticket.object_id) }}" class="button tiny">View</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No related tickets.</p>
            {% endif %}
        {% endif %}
    </section>
{% endblock %}
