<!-- admin/vouchers.html -->
{% extends 'layout.html' %}

{% block title %}Vouchers{% endblock %}

{% block content %}
    <section id="vouchers" class="columns">
        <h4>Create Voucher(s)</h4>
        <form action="{{ url_for('admin.vouchers') }}" method="post">
            <div class="row">
                <div class="large-6 columns">
                    <label for="voucher_prefix">Voucher Prefix</label>
                    <input type="text" name="voucher_prefix" id="voucher_prefix" {{ form_value(form,'voucher_prefix') }}/>
                </div>
                <div class="large-6 columns">
                    <label for="expires">Expires (leave blank for never)</label>
                    <input type="text" name="expires" id="expires" {{ form_value(form,'expires') }}/>
                </div>
            </div>
            <div class="row">
                <div class="large-4 columns">
                    <label for="num_vouchers">Number of Vouchers</label>
                    <input type="number" min="1" step="1" value="1" name="num_vouchers" id="num_vouchers" {{ form_value(form,'num_vouchers') }}/>
                </div>
                <div class="large-4 columns">
                    <label for="applies_to">Applies To</label>
                    <select id="applies_to" name="applies_to">
                        <option value="Ticket" {{ form_selected(form,'applies_to','Ticket') }}>Single Ticket</option>
                        <option value="Transaction" {{ form_selected(form,'applies_to','Transaction') }}>All Tickets in Transaction</option>
                    </select>
                </div>
                <div class="large-4 columns">
                    <label for="single_use">Single Use</label>
                    <select name="single_use" id="single_use">
                        <option value="yes" {{ form_selected(form,'single_use','yes') }}>Yes</option>
                        <option value="no" {{ form_selected(form,'single_use','no') }}>No</option>
                    </select>
                </div>
            </div>
            <fieldset>
                <legend>Discount Type</legend>
                <div class="row">
                    <div class="large-4 columns">
                        <label for="fixed_price">
                            <input type="radio" name="voucher_type" id="fixed_price" value="Fixed Price" {{ form_checked(form,'voucher_type','Fixed Price') }}/>
                            Fixed Price
                        </label>
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">&pound;</span>
                            </div>
                            <div class="small-4 columns">
                                <input type="number" name="fixed_price_pounds" min="0" step="1" {{ form_value(form,'fixed_price_pounds','0') }}/>
                            </div>
                            <div class="small-1 columns">
                                <span class="prefix postfix">.</span>
                            </div>
                            <div class="small-4 columns">
                                <input type="number" name="fixed_price_pence" min="0" max="99" step="1" {{ form_value(form,'fixed_price_pence','0') }}/>
                            </div>
                        </div>
                    </div>
                    <div class="large-4 columns">
                        <label for="fixed_discount">
                            <input type="radio" name="voucher_type" id="fixed_discount" value="Fixed Discount" {{ form_checked(form,'voucher_type','Fixed Discount') }}/>
                            Fixed Discount
                        </label>
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <span class="prefix">&pound;</span>
                            </div>
                            <div class="small-4 columns">
                                <input type="number" name="fixed_discount_pounds" min="0" step="1" {{ form_value(form,'fixed_discount_pounds','0') }}/>
                            </div>
                            <div class="small-1 columns">
                                <span class="prefix postfix">.</span>
                            </div>
                            <div class="small-4 columns">
                                <input type="number" name="fixed_discount_pence" min="0" max="99" step="1" {{ form_value(form,'fixed_discount_pence','0') }}/>
                            </div>
                        </div>
                    </div>
                    <div class="large-4 columns">
                        <label for="percentage_discount">
                            <input type="radio" name="voucher_type" id="percentage_discount" value="Percentage Discount" {{ form_checked(form,'voucher_type','Percentage Discount') }}/>
                            Percentage Discount
                        </label>
                        <div class="row collapse">
                            <div class="small-9 columns">
                                <input type="number" name="fixed_discount" min="0" max="100" step="1" {{ form_value(form,'fixed_discount','0') }}/>
                            </div>
                            <div class="small-3 columns">
                                <span class="postfix">%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <input type="submit" value="Create Vouchers" class="button small" />
        </form>
        <h4>Existing Vouchers</h4>
        <div class="row">
            <div class="large-3 columns">
                {% if vouchers.has_prev %}
                    <a href="{{ url_for('admin.vouchers', page=vouchers.prev_num) }}{% if 'search' in request.args %}?{{ request.args['search'] }}{% endif %}" class="button small">Previous</a>
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
            <div class="large-6 columns">
                <form action="{{ url_for('admin.vouchers') }}" method="get">
                    <div class="row collapse">
                        <div class="large-9 columns">
                            <input type="text" name="search" {% if 'search' in request.args %}value="{{ request.args['search'] }}" {% endif %}/>
                        </div>
                        <div class="large-3 columns">
                            <input type="submit" value="Search" class="button postfix" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="large-3 columns">
                {% if vouchers.has_next %}
                    <a href="{{ url_for('admin.vouchers', page=vouchers.next_num) }}{% if 'search' in request.args %}?{{ request.args['search'] }}{% endif %}" class="button small">Next</a>
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
        </div>
        {% if vouchers.items %}
            <table id="vouchers_table">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Discount</th>
                        <th>Applies To</th>
                        <th>Expires</th>
                        <th>Single Use</th>
                        <th>Used</th>
                        <th>Used By</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for voucher in vouchers.items %}
                        <tr>
                            <td>{{ voucher.code }}</td>
                            <td>
                                {{ voucher.discount_type }}:
                                {% if voucher.discount_type == 'Percentage Discount' %}
                                    {{ voucher.discount_value }}%
                                {% else %}
                                    &pound;{{ '%.02f' % (voucher.discount_value / 100) }}
                                {% endif %}
                            </td>
                            <td>{{ voucher.applies_to }}</td>
                            <td>
                                {% if voucher.expires != None %}
                                    {{ voucher.expires.strftime('%c') }}
                                {% else %}
                                    Never
                                {% endif %}
                            </td>
                            <td>{% if voucher.single_use %}Yes{% else %}No{% endif %}</td>
                            <td>{% if voucher.used %}Yes{% else %}No{% endif %}</td>
                            <td>
                                {% if voucher.used_by != None %}
                                    <a href="{{ url_for('admin_users.view_user', user_id=voucher.used_by_id) }}">{{ voucher.used_by.full_name }}</a>
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ url_for('admin.delete_voucher', voucher_id=voucher.object_id) }}" class="button small">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </section>
{% endblock %}
