<li><a href="{{ url_for('admin.admin_home') }}">Search Database</a></li>
<li><a href="{{ url_for('admin_data.view_statistics') }}">Data and Statistics</a></li>
<li><a href="{{ url_for('admin_announcements.announcements') }}">Manage Announcements</a></li>
<li><a href="{{ url_for('admin_vouchers.vouchers') }}">Manage Vouchers</a></li>
<li><a href="{{ url_for('admin_tickets.validate_ticket') }}">Validate Tickets</a></li>
<li><a href="{{ url_for('admin_users.verify_affiliations') }}">Verify Affiliations</a></li>
<li><a href="{{ url_for('admin_photos.verify_photos') }}">Verify Photos</a></li>
<li><a href="{{ url_for('admin_postage.postage_dashboard') }}">Postage Dashboard</a></li>
