<!-- <div class="small-6 medium-4 large-3 large-3 text-center columns dash-column admin-">foo</div> -->

<li><a href="{{ url_for('admin.admin_home') }}">Search Database</a>
<li><a href="{{ url_for('admin_data.view_statistics') }}">Data and Statistics</a>
<li><a href="{{ url_for('admin_announcements.announcements') }}">Manage Ann.</a>
<li><a href="{{ url_for('admin_vouchers.vouchers') }}">Manage Vouchers</a>
<li><a href="{{ url_for('admin_tickets.validate_ticket') }}">Validate Tickets</a>
<li><a href="{{ url_for('admin_users.verify_affiliations') }}">Verify Affiliations</a>
<li><a href="{{ url_for('admin_photos.verify_photos') }}">Verify Photos</a>
<li><a href="{{ url_for('admin_postage.postage_dashboard') }}">Postage Dashboard</a>
{% if current_user.tickets.count() > 0 %}
<li><a href="{{ url_for('purchase.upgrade_ticket') }}">Upgrade Tickets</a>
{% endif %}

<!--
<div class="small-6 medium-4 large-3 text-center columns dash-column"><div class="admin-dashboard-item"><li><ahref="{{ url_for('admin.admin_home') }}">Search Database</div></div>
<div class="small-6 medium-4 large-3 text-center columns dash-column"><div class="admin-dashboard-item"><li><ahref="{{ url_for('admin_data.view_statistics') }}">Data and Statistics</a></div></div>
<div class="small-6 medium-4 large-3 text-center columns dash-column"><div class="admin-dashboard-item"><li><ahref="{{ url_for('admin_announcements.announcements') }}">Manage Ann.</a></div></div>
<div class="small-6 medium-4 large-3 text-center columns dash-column"><div class="admin-dashboard-item"><li><ahref="{{ url_for('admin_vouchers.vouchers') }}">Manage Vouchers</a></div></div>
<div class="small-6 medium-4 large-3 text-center columns dash-column"><div class="admin-dashboard-item"><li><ahref="{{ url_for('admin_tickets.validate_ticket') }}">Validate Tickets</a></div></div>
<div class="small-6 medium-4 large-3 text-center columns dash-column"><div class="admin-dashboard-item"><li><ahref="{{ url_for('admin_users.verify_affiliations') }}">Verify Affiliations</a></div></div>
<div class="small-6 medium-4 large-3 text-center columns dash-column"><div class="admin-dashboard-item"><li><ahref="{{ url_for('admin_photos.verify_photos') }}">Verify Photos</a></div></div>
<div class="small-6 medium-4 large-3 text-center columns dash-column"><div class="admin-dashboard-item"><li><ahref="{{ url_for('admin_postage.postage_dashboard') }}">Postage Dashboard</a></div></div>
-->
