<!-- <div class="small-6 medium-4 large-3 text-center columns dash-column"columns dash-column dash-columniv> -->

<li><a href="{{ url_for('dashboard.dashboard_home') }}">Dashboard Home</a>
<li><a href="{{ url_for('dashboard.profile') }}">Update your Details</a>
<li><a href="{{ url_for('purchase.purchase_home') }}">Buy Tickets</a>
{% if current_user.has_unpaid_tickets() %}
<li><a href="{{ url_for('purchase.complete_payment') }}">Complete Ticket Payment</a>
{% endif %}
{% if template_config['ENABLE_POSTAGE'] %}
<li><a href="{{ url_for('purchase.buy_postage') }}">Buy Postage</a>
{% endif %}
{% if template_config['ENABLE_GROUP_PURCHASE'] %}
<li><a href="{{ url_for('group_purchase.dashboard') }}">Group Purchase</a>
{% endif %}
<li><a href="{{ url_for('front.terms') }}">T &amp Cs</a>
<li><a href="{{ url_for('front.faqs') }}">FAQs</a>
