@import "vendor/util/unit";

$rem-base: 16px !default;

$body-font-family: "Open Sans", Helvetica, sans-serif !default;
//$body-font-weight: lighter !default;

$h1-font-size: 3rem !default;
$h2-font-size: 2.6rem !default;
$h3-font-size: 2.2rem !default;
$h4-font-size: 1.8rem !default;
$h5-font-size: 1.4rem !default;
$h6-font-size: 1rem !default;

$button-tny: rem-calc(8) !default;
$button-sml: rem-calc(12) !default;
$button-font-tny: rem-calc(14) !default;
$button-font-sml: rem-calc(14) !default;

$form-label-font-size: 1rem !default;

$legend-bg: transparent !default;

$paragraph-margin-bottom: rem-calc(5) !default;

$include-open-sans: false !default;

$blockquote-font-color: #ffffff !default;

$header-bg: #333; //#950219;
$subnav-link-padding: 0.9rem;
$subnav-font-size: 0.75rem;
$subnav-link-opacity: 0.15;
$header-height: 0.5rem;
$transition: all .35s ease-in-out;
