<!-- purchase/battels_confirm.html -->
{% extends 'layout.html' %}

{% block title %}Pay for Tickets by Battels{% endblock %}

{% block content %}
    <section id="battels_confirm" class="columns">
        <h3>Your Tickets</h3>
        <p>Only tickets with names are shown here. If you have unnamed tickets, you will need to set the names on the dashboard before you can pay for them.</p>
        {% if current_user.has_unpaid_tickets('Battels') %}
            <form action="{{ url_for('purchase.battels_confirm') }}" method="post">
                <table id="tickets_table">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Ticket Number</th>
                            <th>Name on Ticket</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticket in current_user.tickets %}
                            {% if ticket.payment_method == 'Battels' and not ticket.paid and not ticket.cancelled and ticket.name != None %}
                                <tr id="ticket-{{ ticket.object_id }}">
                                    <td><input type="checkbox" name="tickets[]" id="ticket_select-{{ ticket.object_id }}" value="{{ ticket.object_id }}" {% if tickets and ticket.object_id in tickets %}checked="checked" {% endif %}/></td>
                                    <td><label for="ticket_select-{{ ticket.object_id }}">#{{ '%05d' % ticket.object_id }}</label></td>
                                    <td><label for="ticket_select-{{ ticket.object_id }}">{{ ticket.name | default('Not Set') }}</label></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                {% if not current_user.can_pay_by_battels() %}
                    <p>You cannot currently pay by battels. Please <a href="{{ url_for('purchase.change_method') }}">change the payment method on your tickets.</a></p>
                {% else %}
                    {% if template_config['CURRENT_TERM'] == 'MT' %}
                        <button type="submit" class="small" name="payment_term" value="MT">
                            Pay all in Michaelmas
                        </button>
                        <button type="submit" class="small" name="payment_term" value="MTHT">
                            Pay half each in Michaelmas/Hilary
                        </button>
                    {% endif %}
                    <button type="submit" class="small" name="payment_term" value="HT">
                        Pay all in Hilary
                    </button>
                {% endif %}
            </form>
        {% else %}
            <p>You have no unpaid tickets marked as paying for by battels. Perhaps you'd like to <a href="{{ url_for('purchase.change_method') }}">change the payment method on some tickets</a> or <a href="{{ url_for('purchase.purchase_home') }}">buy some more tickets</a>?</p>
        {% endif %}
    </section>
{% endblock %}
