<!-- purchase/changeMethod.html -->
{% extends 'layout.html' %}

{% block title %}Change Ticket Payment Methods{% endblock %}

{% block content %}
    <section id="changeMethod" class="columns">
        <h3>Your Tickets</h3>
        {% if current_user.hasUnpaidTickets() %}
            <form action="{{ url_for('purchase.changeMethod') }}" method="post">
                <table id="ticketsTable">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Ticket Number</th>
                            <th>Name on Ticket</th>
                            <th>Current Payment Method</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticket in current_user.tickets %}
                            {% if not ticket.paid %}
                                <tr id="ticket-{{ ticket.id }}">
                                    <td><input type="checkbox" name="tickets[]" id="ticketSelect-{{ ticket.id }}" value="{{ ticket.id }}" {% if tickets and ticket.id in tickets %}checked="checked" {% endif %}/></td>
                                    <td><label for="ticketSelect-{{ ticket.id }}">#{{ '%05d' % ticket.id }}</label></td>
                                    <td><label for="ticketSelect-{{ ticket.id }}">{{ ticket.name | default('Not Set') }}</label></td>
                                    <td><label for="ticketSelect-{{ ticket.id }}">{{ ticket.paymentmethod }}</label></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                <h5>Change payment method to:</h5>
                <input type="submit" name="paymentMethod" value="Card" class="button tiny" />
                {% if current_user.canPayByBattels() %}
                    <input type="submit" name="paymentMethod" value="Battels" class="button tiny" />
                {% endif %}
                <input type="submit" name="paymentMethod" value="Cash" class="button tiny" />
                <input type="submit" name="paymentMethod" value="Cheque" class="button tiny" />
                <div class="row">
                    <div class="large-6 columns">
                        <p>If you wish to pay by cheque/cash, you must contact <a href="{{ template_config['TREASURER_EMAIL_LINK'] }}">the treasurer</a> to arrange the payment before changing the payment method here.</p>
                    </div>
                    <div class="large-6 columns">
                        <label for="paymentReason">Reason for cash/cheque payment:</label>
                        <input type="text" name="paymentReason" id="paymentReason" />
                        <p class="small">Leave blank if using card{% if current_user.canPayByBattels() %} or battels{% endif %}.</p>
                    </div>
                </div>
            </form>
        {% else %}
            <p>You have no unpaid tickets. Perhaps you'd like to <a href="{{ url_for('purchase.purchaseHome') }}">buy some</a>?</p>
        {% endif %}
    </section>
{% endblock %}