<!-- purchase/change_method.html -->
{% extends 'layout.html' %}

{% block title %}Change Ticket Payment Methods{% endblock %}

{% block content %}
    <section id="change_method" class="columns">
        <h3>Your Tickets</h3>
        {% if current_user.has_unpaid_tickets() %}
            <form action="{{ url_for('purchase.change_method') }}" method="post">
                <table id="tickets_table">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Ticket Number</th>
                            <th>Name on Ticket</th>
                            <th>Current Payment Method</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticket in current_user.tickets %}
                            {% if not ticket.paid and not ticket.cancelled %}
                                <tr id="ticket-{{ ticket.object_id }}">
                                    <td><input type="checkbox" name="tickets[]" id="ticket_select-{{ ticket.object_id }}" value="{{ ticket.object_id }}" {% if tickets and ticket.object_id in tickets %}checked="checked" {% endif %}/></td>
                                    <td><label for="ticket_select-{{ ticket.object_id }}">#{{ '%05d' % ticket.object_id }}</label></td>
                                    <td><label for="ticket_select-{{ ticket.object_id }}">{{ ticket.name | default('Not Set') }}</label></td>
                                    <td><label for="ticket_select-{{ ticket.object_id }}">{{ ticket.payment_method }}</label></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                <h5>Change payment method to:</h5>
                <input type="submit" name="payment_method" value="Card" class="button tiny" />
                {% if current_user.can_pay_by_battels() %}
                    <input type="submit" name="payment_method" value="Battels" class="button tiny" />
                {% endif %}
                <input type="submit" name="payment_method" value="Cash" class="button tiny" />
                <input type="submit" name="payment_method" value="Cheque" class="button tiny" />
                <div class="row">
                    <div class="large-6 columns">
                        <p>If you wish to pay by cheque/cash, you must contact <a href="{{ template_config['TREASURER_EMAIL_LINK'] }}">the treasurer</a> to arrange the payment before changing the payment method here.</p>
                    </div>
                    <div class="large-6 columns">
                        <label for="payment_reason">Reason for cash/cheque payment:</label>
                        <input type="text" name="payment_reason" id="payment_reason" />
                        <p class="small">Leave blank if using card{% if current_user.can_pay_by_battels() %} or battels{% endif %}.</p>
                    </div>
                </div>
            </form>
        {% else %}
            <p>You have no unpaid tickets. Perhaps you'd like to <a href="{{ url_for('purchase.purchase_home') }}">buy some</a>?</p>
        {% endif %}
    </section>
{% endblock %}
