<!-- purchase/purchase_home.html -->
{% extends 'layout.html' %}

{% block title %}Buy Tickets{% endblock %}

{% block content %}
    <section id="purchase" class="columns">
        <form action="{{ url_for('purchase.purchase_home') }}" method="post">
            <ol id="purchaseSteps">
                <li>
                    <h5>Choose Number of Tickets</h5>
                    <div class="row">
                        <div class="columns">
                            <label for="num_tickets">Number of Tickets: <span id="num_tickets_display">1</span></label>
                            <input
                                id="num_tickets"
                                name="num_tickets"
                                type="number"
                                min="1"
                                max="{{ canBuy }}"
                                step="1"
                                value="{% if num_tickets -%}
                                    {{ num_tickets }}
                                {% else -%}
                                    1
                                {% endif %}"
                                data-slider="true"
                                data-slider-range="1,{{ canBuy }}"
                                data-slider-snap="true"
                                data-slider-step="1"
                                data-slider-highlight="true"
                            />
                        </div>
                    </div>
                    <p id="ticketInformation">
                        The base price for a ticket is &pound;{{ '%.2f' % (template_config['TICKET_PRICE'] / 100.0) }}.
                        {% if current_user.gets_discount() %}
                            As a current Keble student you get a &pound;{{ '%.2f' % (template_config['KEBLE_DISCOUNT'] / 100.0) }} discount on your first ticket.
                            {% if num_tickets -%}
                                Your order of {{ num_tickets }} ticket{% if num_tickets != 1 %}s{% endif %} is currently worth &pound;{{ '%.2f' % (((template_config['TICKET_PRICE'] * num_tickets) - template_config['KEBLE_DISCOUNT']) / 100.0) }}.
                            {% else -%}
                                Your order of 1 ticket is currently worth &pound;{{ '%.2f' % ((template_config['TICKET_PRICE'] - template_config['KEBLE_DISCOUNT']) / 100.0) }}.
                            {% endif %}
                        {% else %}
                            {% if num_tickets -%}
                                Your order of {{ num_tickets }} ticket{% if num_tickets != 1 %}s{% endif %} is currently worth &pound;{{ '%.2f' % ((template_config['TICKET_PRICE'] * num_tickets) / 100.0) }}.
                            {% else -%}
                                Your order of 1 ticket is currently worth &pound;{{ '%.2f' % (template_config['TICKET_PRICE'] / 100.0) }}.
                            {% endif %}
                        {% endif %}
                        Please note that this price does not reflect the value of any discounts to be applied.
                    </p>
                </li>
                <li>
                    <h5>Choose Payment Method</h5>
                    <div class="row">
                        <div class="columns">
                            {% if current_user.can_pay_by_battels() %}
                                <label for="paymentMethod-Battels">
                                    <input type="radio" name="paymentMethod" value="Battels" id="paymentMethod-Battels" required="required" {% if form and form['paymentMethod'] and form['paymentMethod'] == 'Battels' %}checked="checked" {% endif %}/>
                                    Battels
                                </label>
                            {% endif %}
                            <label for="paymentMethod-Card">
                                <input type="radio" name="paymentMethod" value="Card" id="paymentMethod-Card" required="required" {% if form and form['paymentMethod'] and form['paymentMethod'] == 'Card' %}checked="checked" {% endif %}/>
                                Credit/Debit Card
                            </label>
                            <p class="small"><a onclick="showAlternativePayments()" style="cursor: pointer;">Can't pay by card{% if current_user.can_pay_by_battels() %}/battels{% endif %}?</a></p>
                            <div id="paymentAlternatives"{% if not (form and form['paymentMethod'] and (form['paymentMethod'] == 'Cash' or form['paymentMethod'] == 'Cheque')) %} style="display: none;"{% endif %}>
                                <p>If you wish to pay by cheque/cash, you must contact <a href="{{ template_config['TREASURER_EMAIL_LINK'] }}">the treasurer</a> to arrange the payment before reserving your tickets here, in order to prevent your tickets expiring before payment is confirmed.</p>
                                <label for="paymentMethod-Cash">
                                    <input type="radio" name="paymentMethod" value="Cash" id="paymentMethod-Cash" required="required" {% if form and form['paymentMethod'] and form['paymentMethod'] == 'Cash' %}checked="checked" {% endif %}/>
                                    Cash
                                </label>
                                <label for="paymentMethod-Cheque">
                                    <input type="radio" name="paymentMethod" value="Cheque" id="paymentMethod-Cheque" required="required" {% if form and form['paymentMethod'] and form['paymentMethod'] == 'Cheque' %}checked="checked" {% endif %}/>
                                    Cheque
                                </label>
                                <label for="paymentReason">Reason for cash/cheque payment</label>
                                <input type="text" name="paymentReason" id="paymentReason" {% if form and form['paymentReason'] %}value="{{ form['paymentReason'] }}" {% endif %}/>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <h5>Apply voucher code</h5>
                    <p>If you have been given a discount code, please enter it here. If you do not have a code, leave this field blank. Only one discount code may be used per order</p>
                    <div class="row">
                        <div class="columns">
                            <label for="voucherCode">Discount Code:</label>
                            <input type="text" name="voucherCode" id="voucherCode" {% if form and form['voucherCode'] %}value="{{ form['voucherCode'] }}" {% endif %}/>
                            <div id="voucherMessage" style="display: none;"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <h5>Credit where credit is due?</h5>
                    <p>If somebody referred you, or recommended Keble Ball to you, please enter their email address here so that we can give them credit for your order.</p>
                    <div class="row">
                        <div class="columns">
                            <label for="referrerEmail">Email Address:</label>
                            <input type="email" name="referrerEmail" id="referrerEmail" {% if form and form['referrerEmail'] %}value="{{ form['referrerEmail'] }}" {% endif %}/>
                            <div id="referrerMessage" style="display: none;"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <h5>Terms and Conditions</h5>
                    <div class="row">
                        <div class="columns">
                            <label for="acceptTerms">
                                <input type="checkbox" name="acceptTerms" value="yes" id="acceptTerms" required />
                                I have read and accept the <a href="{{ url_for('front.terms') }}" target="_blank">Keble Ball {{ template_config['START_TIME'].strftime('%Y') }} Terms &amp; Conditions</a>
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <input type="submit" value="Buy Tickets" class="button tiny" />
                </li>
            </ol>
        </form>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ url_for('static', filename='js/vendor/simple-slider.js') }}"></script>

    <script type="text/javascript">
        var ticketPrice = {{ template_config['TICKET_PRICE'] }};
        var kebleDiscount = {{ template_config['KEBLE_DISCOUNT'] }};
        var getsDiscount = {% if current_user.gets_discount() %}true{% else %}false{% endif %};

        function getPlural(num) {
            if (num == 1) {
                return '';
            } else {
                return 's'
            }
        }

        $("#num_tickets").bind("slider:changed", function (event, data) {
            $('#num_tickets_display').html(data.value);

            var ticketMessage = "The base price for a ticket is &pound;" + (ticketPrice / 100.0).toFixed(2) + ".";
            var totalPrice = data.value * ticketPrice;

            if (getsDiscount) {
                ticketMessage = (
                    ticketMessage +
                    " As a current Keble student you get a &pound;" +
                    (kebleDiscount / 100.0).toFixed(2) +
                    "discount on your first ticket."
                );
                totalPrice = totalPrice - kebleDiscount;
            }

            ticketMessage = (
                ticketMessage +
                "Your order of " +
                data.value +
                " ticket" +
                getPlural(data.value) +
                " is currently worth &pound;" +
                (totalPrice / 100.0).toFixed(2) +
                ". "
            );

            ticketMessage = (
                ticketMessage +
                "Please note that this price does not reflect the value of any discounts to be applied."
            );

            $('#ticketInformation').html(ticketMessage);
        });

        var voucherCode = $("#voucherCode");
        var voucherMessage = $("#voucherMessage");

        voucherCode.on("blur", function() {
            if (voucherCode.val() != '') {
                jQuery.ajax(
                    '{{ url_for('ajax.ajaxValidateVoucher', _external=True) }}',
                    {
                        'data': {
                            'code': voucherCode.val()
                        },
                        'type': 'POST',
                        'dataType': 'json',
                        'success': function(data, code, xhr) {
                            voucherMessage.attr(
                                "class",
                                data.class
                            );
                            voucherMessage.html(data.message);
                            voucherMessage.show(0);
                        }
                    }
                );
            } else {
                voucherMessage.hide(0);
            }
        });

        voucherCode.on("change", function() {
            voucherMessage.hide(0);
        });

        var referrerEmail = $("#referrerEmail");
        var referrerMessage = $("#referrerMessage");

        referrerEmail.on("blur", function() {
            if (referrerEmail.val() != '') {
                jQuery.ajax(
                    '{{ url_for('ajax.ajaxValidateReferrer', _external=True) }}',
                    {
                        'data': {
                            'email': referrerEmail.val()
                        },
                        'type': 'POST',
                        'dataType': 'json',
                        'success': function(data, code, xhr) {
                            referrerMessage.attr(
                                "class",
                                data.class
                            );
                            referrerMessage.html(data.message);
                            referrerMessage.show(0);
                        }
                    }
                );
            } else {
                referrerMessage.hide(0);
            }
        });

        referrerEmail.on("change", function() {
            referrerMessage.hide(0);
        });

        function showAlternativePayments() {
            $("#paymentAlternatives").slideDown();
        }
    </script>
{% endblock %}
