<!-- purchase/wait.html -->
{% extends 'layout.html' %}

{% block title %}Join Waiting List{% endblock %}

{% block content %}
    <section id="wait" class="columns">
        <p>N.B. Tickets will be allocated in the blocks in which you request them. If you request 8 tickets at once, you will not receive any tickets until all 8 become available. If you wish for tickets to be allocated to you as soon as they become available, please join the waiting list for 1 or 2 tickets at a time.</p>
        <form action="{{ url_for('purchase.wait') }}" method="post">
            <ol id="purchase_steps">
                <li>
                    <h5>Choose Number of Tickets</h5>
                    <div class="row">
                        <div class="columns">
                            <label for="num_tickets">Number of Tickets: <span id="num_tickets_display">1</span></label>
                            <input
                                id="num_tickets"
                                name="num_tickets"
                                type="number"
                                min="1"
                                max="{{ can_wait }}"
                                step="1"
                                value="{% if num_tickets -%}
                                    {{ num_tickets }}
                                {% else -%}
                                    1
                                {% endif %}"
                                data-slider="true"
                                data-slider-range="1,{{ can_wait }}"
                                data-slider-snap="true"
                                data-slider-step="1"
                                data-slider-highlight="true"
                            />
                        </div>
                    </div>
                </li>
                <li>
                    <h5>Credit where credit is due?</h5>
                    <p>If somebody referred you, or recommended Keble Ball to you, please enter their email address here so that we can give them credit for your order.</p>
                    <div class="row">
                        <div class="columns">
                            <label for="referrer_email">Email Address:</label>
                            <input type="email" name="referrer_email" id="referrer_email" {% if form and form['referrer_email'] %}value="{{ form['referrer_email'] }}" {% endif %}/>
                            <div id="referrer_message" style="display: none;"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <h5>Terms and Conditions</h5>
                    <div class="row">
                        <div class="columns">
                            <label for="accept_terms">
                                <input type="checkbox" name="accept_terms" value="yes" id="accept_terms" required />
                                I have read and accept the <a href="{{ url_for('front.terms') }}" target="_blank">Keble Ball {{ template_config['START_TIME'].strftime('%Y') }} Terms &amp; Conditions</a>
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <input type="submit" value="Join Waiting List" class="button tiny" />
                </li>
            </ol>
        </form>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ url_for('static', filename='js/vendor/simple-slider.js') }}"></script>

    <script type="text/javascript">
        $("#num_tickets").bind("slider:changed", function (event, data) {
            $('#num_tickets_display').html(data.value);
        });

        var referrer_email = $("#referrer_email");
        var referrer_message = $("#referrer_message");

        referrer_email.on("blur", function() {
            if (referrer_email.val() != '') {
                jQuery.ajax(
                    '{{ url_for('ajax.validate_referrer', _external=True) }}',
                    {
                        'data': {
                            'email': referrer_email.val()
                        },
                        'type': 'POST',
                        'dataType': 'json',
                        'success': function(data, code, xhr) {
                            referrer_message.attr(
                                "class",
                                data.class
                            );
                            referrer_message.html(data.message);
                            referrer_message.show(0);
                        }
                    }
                );
            } else {
                referrer_message.hide(0);
            }
        });

        referrer_email.on("change", function() {
            referrer_message.hide(0);
        });
    </script>
{% endblock %}
