<!-- resale/cancelResale.html -->
{% extends 'layout.html' %}

{% block title %}Cancel Ticket Resale{% endblock %}

{% block content %}
    <section id="cancel Resale" class="columns">
        <p>If you have started the process of reselling tickets, and no longer wish to do resell them, please select the tickets you wish to keep and click Cancel Resale</p>
        <h3>Your Tickets</h3>
        {% if current_user.is_reselling_tickets() %}
            <form action="{{ url_for('resale.cancel_resale') }}" method="post">
                <table id="ticketsTable">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Ticket Number</th>
                            <th>Name on Ticket</th>
                            <th>Reselling To</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticket in current_user.tickets %}
                            {% if ticket.resalekey != None %}
                                <tr id="ticket-{{ ticket.id }}">
                                    <td><input type="checkbox" name="tickets[]" id="ticketSelect-{{ ticket.id }}" value="{{ ticket.id }}" {% if tickets and ticket.id in tickets %}checked="checked" {% endif %}/></td>
                                    <td><label for="ticketSelect-{{ ticket.id }}">#{{ '%05d' % ticket.id }}</label></td>
                                    <td><label for="ticketSelect-{{ ticket.id }}">{{ ticket.name | default('Not Set') }}</label></td>
                                    <td><label for="ticketSelect-{{ ticket.id }}">{{ ticket.reselling_to.firstname }} {{ ticket.reselling_to.surname }}</label></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                <input type="submit" value="Cancel Resale" class="button small" />
            </form>
        {% else %}
            <p>You have no tickets up for resale. Perhaps you'd like to <a href="{{ url_for('purchase.purchase_home') }}">purchase some tickets</a>?</p>
        {% endif %}
    </section>
{% endblock %}
