<!-- 404.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Page Not Found - Keble Ball {{ template_config['START_TIME'].strftime('%Y') }}</title>
        <meta name="description" content="Keble Ball {{ template_config['START_TIME'].strftime('%Y') }} - Buy Tickets">
        <meta name="keywords" content="Keble,Oxford,Ball,Tickets">
        <meta name="author" content="Samuel Littley">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <header class="row">
            <section id="logo" class="large-6 large-centered columns">
                <img src="{{ url_for('static', filename='images/logo.png') }}" />
                <h2 class="blue">Keble Ball</h2>
                <h1 class="red">{{ template_config['THEME'] }}</h1>
                <h2 class="blue">{{ template_config['START_TIME'].strftime('%d') }}{{ get_ord(template_config['START_TIME']) }} {{ template_config['START_TIME'].strftime('%B %Y') }}</h2>
            </section>
        </header>
        <section id="page-title" class="row">
            <div class="large-12 columns">
                <h2>Page Not Found</h2>
            </div>
        </section>
        <section id="main" class="row">
            <section id="page-not-found" class="columns">
                <p>The page you were looking for cannot be found. If you followed a link to get here, please contact the <a href="http://www.google.com/recaptcha/mailhide/d?k=01VW2HusQat4KpnmQYJBSfhQ==&c=0pBadqH9ae41gTIaahTM78kkmPpv_-wELjktV6Zs-d0=" target="_blank">webmaster</a>, giving details of what page you were trying to find, and which page you came from.</p>
                <p>In the meantime, you may wish to go to the <a href="{{ url_for('router') }}">homepage</a>, and try to find what you need from there using the menus.</p>
            </section>
        </section>
        <footer class="row">
            <section id="copyright" class="large-8 large-centered columns">
                <p>&copy; 2013- Keble Ball. All rights reserved. <a href="{{ template_config['WEBSITE_EMAIL_LINK'] }}" target="_blank">Webmaster</a></p>
            </section>
        </footer>
    </body>
</html>
