<!-- 404.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Page Not Found - Keble Ball {{ template_config['START_TIME'].strftime('%Y') }}</title>
        <meta name="description" content="Keble Ball {{ template_config['START_TIME'].strftime('%Y') }} - Buy Tickets">
        <meta name="keywords" content="Keble,Oxford,Ball,Tickets">
        <meta name="author" content="Samuel Littley">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-36232929-1', 'kebleball.com');
          ga('send', 'pageview');

        </script>
    </head>
    <body>
        <header class="row">
            <section id="logo" class="large-6 large-centered columns">
                <a href="/">
                    <h1>Keble Ball {{ template_config['START_TIME'].year }}</h1>
                    <h4 class="adele">{{ template_config['THEME'] }}</h4>
                    <h3 class="adele">{{ template_config['START_TIME'].day }}{{ get_ord(template_config['START_TIME']) }} {{ template_config['START_TIME'].strftime('%B %Y') }}</h3>
                </a>
            </section>
        </header>
        <section id="page-title" class="row">
            <div class="large-12 columns">
                <h2>Page Not Found</h2>
            </div>
        </section>
        <section id="main" class="row">
            <section id="page-not-found" class="columns">
                <p>The page you were looking for cannot be found. If you followed a link to get here, please contact the <a href="http://www.google.com/recaptcha/mailhide/d?k=01VW2HusQat4KpnmQYJBSfhQ==&c=0pBadqH9ae41gTIaahTM78kkmPpv_-wELjktV6Zs-d0=" target="_blank">webmaster</a>, giving details of what page you were trying to find, and which page you came from.</p>
                <p>In the meantime, you may wish to go to the <a href="{{ url_for('router') }}">homepage</a>, and try to find what you need from there using the menus.</p>
            </section>
        </section>
        <footer class="row">
            <section id="copyright" class="large-8 large-centered columns">
                <p>&copy; 2013- Keble Ball. All rights reserved. <a href="{{ template_config['WEBSITE_EMAIL_LINK'] }}" target="_blank">Webmaster</a></p>
            </section>
        </footer>
    </body>
</html>
