<!-- 500.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Oops! An Error Occurred - Keble Ball {{ template_config['START_TIME'].strftime('%Y') }}</title>
        <meta name="description" content="Keble Ball {{ template_config['START_TIME'].strftime('%Y') }} - Buy Tickets">
        <meta name="keywords" content="Keble,Oxford,Ball,Tickets">
        <meta name="author" content="Samuel Littley">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <header class="row">
            <section id="logo" class="large-6 large-centered columns">
                <img src="{{ url_for('static', filename='images/logo.png') }}" />
                <h2 class="blue">Keble Ball</h2>
                <h1 class="red">{{ template_config['THEME'] }}</h1>
                <h2 class="blue">{{ template_config['START_TIME'].strftime('%d') }}{{ get_ord(template_config['START_TIME']) }} {{ template_config['START_TIME'].strftime('%B %Y') }}</h2>
            </section>
        </header>
        <section id="page-title" class="row">
            <div class="large-12 columns">
                <h2>Oops! An Error Occurred</h2>
            </div>
        </section>
        <section id="main" class="row">
            <section id="server-error" class="columns">
                <p>An error has occurred on our system which has prevented us from carrying out the requested action. We apologise for the inconvenience, and suggest that you try again later. If you are seeing this message repeatedly, please contact the <a href="{{ template_config['WEBSITE_EMAIL_URL'] }}" target="_blank">webmaster</a>, giving details of what you were trying to do.</p>
            </section>
        </section>
        <footer class="row">
            <section id="copyright" class="large-8 large-centered columns">
                <p>&copy; 2013- Keble Ball. All rights reserved. <a href="{{ template_config['WEBSITE_EMAIL_LINK'] }}" target="_blank">Webmaster</a></p>
            </section>
        </footer>
    </body>
</html>