<!-- 404.html -->
{% extends 'layout.html' %}

{% block title %}Oops! An Error Occurred{% endblock %}

{% block content %}
    <section id="server-error" class="columns">
        <p>An error has occurred on our system which has prevented us from carrying out the requested action. We apologise for the inconvenience, and suggest that you try again later. If you are seeing this message repeatedly, please contact the <a href="http://www.google.com/recaptcha/mailhide/d?k=01VW2HusQat4KpnmQYJBSfhQ==&c=0pBadqH9ae41gTIaahTM78kkmPpv_-wELjktV6Zs-d0=" target="_blank">webmaster</a>, giving details of what you were trying to do.</p>
    </section>
{% endblock %}