<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - Keble Ball {{ template_config['START_TIME'].strftime('%Y') }}</title>
        <meta name="description" content="Keble Ball {{ template_config['START_TIME'].strftime('%Y') }} - Buy Tickets">
        <meta name="keywords" content="Keble,Oxford,Ball,Tickets">
        <meta name="author" content="Samuel Littley">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-36232929-1', 'kebleball.com');
          ga('send', 'pageview');

        </script>
    </head>
    <body>
        <header class="row">
            <section id="user" class="large-3 columns right">
                {% if current_user.is_anonymous() %}
                    <p>You are not currently logged in. <a href="{{ url_for('front.home') }}#log-in-form">Log in.</a></p>
                {% else %}
                    <p>You are currently logged in as {{ current_user.full_name }}. <a href="{{ url_for('front.logout') }}">Log out.</a></p>
                {% endif %}
            </section>
            <section id="logo" class="large-6 large-centered columns">
                <a href="/">
                    <h1>Keble Ball {{ template_config['START_TIME'].year }}</h1>
                    <h4 class="adele">{{ template_config['THEME'] }}</h4>
                    <h3 class="adele">{{ template_config['START_TIME'].day }}{{ get_ord(template_config['START_TIME']) }} {{ template_config['START_TIME'].strftime('%B %Y') }}</h3>
                </a>
            </section>
        </header>
        {% if not current_user.is_anonymous() %}
            <nav class="row">
                <ul id="navigation-main">
                    {% include 'blocks/dashboard-navigation.html' %}
                    {% if current_user.is_admin() %}
                        {% include 'blocks/admin-navigation.html' %}
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
        <section id="page-title" class="row">
            <div class="large-12 columns">
                <h2>{{ self.title() }}</h2>
            </div>
        </section>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <section id="flashes" class="row">
                    <ul class="large-12 columns">
                        {% for category, message in messages %}
                            <li class="{{ category }}" title="Click to dismiss">{{ message|safe }}</li>
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}
        {% endwith %}
        <section id="main" class="row">
            {% block content %}{% endblock %}
        </section>
        <footer class="row">
            <section id="copyright" class="large-8 large-centered columns">
                <p>&copy; 2013- Keble Ball. All rights reserved. <a href="{{ template_config['WEBSITE_EMAIL_LINK'] }}" target="_blank">Webmaster</a></p>
            </section>
        </footer>
        <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/footer.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
