@font-face {
    font-family: 'Headline One';
    src: url('./fonts/Headline_One/Headline_One.eot');
    src: url('./fonts/Headline_One/Headline_One.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Headline_One/Headline_One.woff2') format('woff2'),
         url('./fonts/Headline_One/Headline_One.woff') format('woff'),
         url('./fonts/Headline_One/Headline_One.ttf') format('truetype'),
         url('./fonts/Headline_One/Headline_One.svg#headline_onehplhs') format('svg');
    font-weight: normal;
    font-style: normal;
}
