@import "vendor/foundation/functions";

$white: #f9f6f1;
$black: #070707;
$purple: #971f60;
$grey: #808080;

$rem-base: 16px;

$body-bg: $black;
$body-font-color: $white;
$body-font-family: "Open Sans", Helvetica, sans-serif;
$body-font-weight: lighter;

$primary-color: $purple;
$secondary-color: $grey;

$header-font-family: "Chopin Script", serif;
$header-font-weight: normal;
$header-font-color: $white;
$header-line-height: 1em;
$header-top-margin: 0.3em;
$header-bottom-margin: 0.2em;

$h1-font-size: 4rem;
$h2-font-size: 3.6rem;
$h3-font-size: 3.2rem;
$h4-font-size: 2.8rem;
$h5-font-size: 2.4rem;
$h6-font-size: 2rem;

$anchor-font-color: $grey;
$anchor-font-color-hover: $purple;

$button-tny: rem-calc(8);
$button-sml: rem-calc(12);
$button-font-tny: rem-calc(14);
$button-font-sml: rem-calc(14);

$form-label-font-size: 1rem;
$form-label-font-color: #ccc;

$legend-bg: transparent;

$paragraph-margin-bottom: rem-calc(5);
