<li><a href="{{ url_for('dashboard.dashboard_home') }}">Dashboard Home</a></li>
<li><a href="{{ url_for('dashboard.profile') }}">Update your Details</a></li>
<li><a href="{{ url_for('purchase.purchase_home') }}">Buy Tickets</a></li>
{% if current_user.has_unpaid_tickets() %}
    <li><a href="{{ url_for('purchase.change_method') }}">Change Ticket Payment Methods</a></li>
    {% if current_user.has_unpaid_tickets('Card') %}
        <li><a href="{{ url_for('purchase.card_confirm') }}">Complete Card Payments</a></li>
    {% endif %}
    {% if current_user.has_unpaid_tickets('Battels') %}
        <li><a href="{{ url_for('purchase.battels_confirm') }}">Complete Battels Payments</a></li>
    {% endif %}
{% endif %}
