<li><a href="{{ url_for('dashboard.dashboardHome') }}">Dashboard Home</a></li>
<li><a href="{{ url_for('purchase.purchaseHome') }}">Buy Tickets</a></li>
{% if current_user.hasUnpaidTickets() %}
    <li><a href="{{ url_for('purchase.changeMethod') }}">Change Ticket Payment Methods</a></li>
    {% if current_user.hasUnpaidTickets('Card') %}
        <li><a href="{{ url_for('purchase.cardConfirm') }}">Complete Card Payments</a></li>
    {% endif %}
    {% if current_user.hasUnpaidTickets('Battels') %}
        <li><a href="{{ url_for('purchase.battelsConfirm') }}">Complete Battels Payments</a></li>
    {% endif %}
{% endif %}
