<!-- admin_data/statistics.html -->
{% extends 'layout.html' %}

{% block title %}Data and Statistics{% endblock %}

{% block content %}
    <section id="admin_home" class="columns">
        {% for group, group_name in statistic_groups.iteritems() %}
            <h4>{{ group_name }} (<a href="{{ url_for('admin_data.data', group=group) }}" target="_blank">Raw Data</a>)</h4>
            <p class="small">Click on graph to view full size</p>
            <a href="{{ url_for('admin_data.graph', group=group) }}" target="_blank">
                <img src="{{ url_for('admin_data.graph', group=group) }}" />
            </a>
        {% endfor %}

        <h4>Revenue Statistics</h4>

        {% for title, value in revenue.iteritems() %}
            <p>{{ title }}: &pound;{{ '%.2f' % (value / 100) }}</p>
        {% endfor %}
        <p>Total postage orders: {{ num_postage }}</p>

        <a class="button" href="{{ url_for('admin_data.dietary_requirements') }}">Download Dietary Requirements</a>
    </section>
{% endblock %}
