<!-- dashboard/dashboardHome.html -->
{% extends 'layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <section id="dashboard" class="columns">
        <h3>Your Tickets <a href="{{ url_for('purchase.purchaseHome') }}" class="button">Buy Tickets</a></h3>
        {% if current_user.tickets.count() > 0 %}
            <table id="ticketsTable">
                <thead>
                    <tr>
                        <th>Ticket Number</th>
                        <th>Name on Ticket</th>
                        <th>Ticket Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in current_user.tickets %}
                        <tr id="ticket-{{ ticket.id }}">
                            <td>#{{ '%05d' % ticket.id }}</td>
                            <td>
                                {% if ticket.can_change_name() %}
                                    <span id="ticketNameDisplay-{{ ticket.id }}"><span id="ticketName-{{ ticket.id }}">{% if ticket.name == None %}Not Set{% else %}{{ ticket.name }}{% endif %}</span> (<a onclick="changeTicketName({{ ticket.id }}, false)">Change</a>)</span>
                                    <span id="ticketNameForm-{{ ticket.id }}" style="display: none;"><input name="ticketNameInput-{{ ticket.id }}" id="ticketNameInput-{{ ticket.id }}" {% if ticket.name != None %}value="{{ ticket.name }}" {% endif %}/><button class="tiny" onclick="changeTicketName({{ ticket.id }}, true)">Submit</button></span>
                                {% else %}
                                    {% if ticket.name == None %}Not Set{% else %}{{ ticket.name }}{% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {% if ticket.cancelled -%}
                                    Cancelled.
                                {% elif ticket.collected -%}
                                    Collected as {{ ticket.barcode }}.
                                {% elif ticket.resalekey != None -%}
                                    {% if ticket.resaleconfirmed -%}
                                        Pending resale completion
                                    {% else -%}
                                        Pending resale confirmation
                                    {% endif %}
                                {% elif ticket.paid -%}
                                    {% if ticket.payment_method == 'Free' -%}
                                        Free Ticket.
                                    {% else -%}
                                        Paid for by {{ ticket.paymentmethod }}.
                                    {% endif %}
                                {% else -%}
                                    Awaiting {% if ticket.paymentmethod %}{{ ticket.paymentmethod }} {% endif %} payment. Expires {{ ticket.expires.strftime('%H:%M %d/%m/%Y') }}
                                {% endif %}
                            </td>
                            <td>
                                {% if not (ticket.cancelled or ticket.collected) %}
                                    {% if not ticket.paid %}
                                        {% if ticket.paymentmethod != None %}
                                            <a href="{{ url_for('purchase.changeMethod') }}" class="button tiny">Change Payment Method</a>
                                            {% if ticket.paymentmethod == 'Card' %}
                                                <a href="{{ url_for('purchase.cardConfirm') }}" class="button tiny">Complete card payment</a>
                                            {% elif ticket.paymentmethod == 'Battels' %}
                                                <a href="{{ url_for('purchase.battelsConfirm') }}" class="button tiny">Confirm battels payment</a>
                                            {% else %}
                                                <a href="{{ template_config['TREASURER_EMAIL_LINK'] }}" class="button tiny">Contact treasurer</a>
                                            {% endif %}
                                        {% else %}
                                            <a href="{{ url_for('purchase.changeMethod') }}" class="button tiny">Choose Payment Method</a>
                                        {% endif %}
                                    {% elif ticket.resalekey != None %}
                                        <a href="{{ url_for('resale.cancel_resale') }}" class="button tiny">Cancel Resale</a>
                                    {% else %}
                                        <a href="{{ url_for('resale.resale_home') }}" class="button tiny">Resell</a>
                                    {% endif %}
                                    <a href="{{ url_for('purchase.cancel') }}" class="button tiny">Cancel</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You have no tickets. Perhaps you'd like to <a href="{{ url_for('purchase.purchaseHome') }}">buy some</a>?</p>
        {% endif %}

        {% if current_user.is_waiting() %}
            <h3>Waiting List</h3>
            <p>You are currently waiting for {{ current_user.waiting_for() }} tickets.</p>
        {% endif %}

        <h3>Announcements</h3>
            {% if current_user.announcements|count > 0 %}
                <ul id="announcements">
                {% for announcement in current_user.announcements %}
                    <li>
                        <article class="announcement">
                            <h5>{{ announcement.subject }}</h5>
                            {{ announcement.content | truncate(250) | markdown }}
                            <a href="{{ url_for('dashboard.announcement', announcementID=announcement.id) }}" class="read-more">Read More</a>
                        </article>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>The Keble Ball committee has not posted any announcements yet. Watch this space and check your email for important information about the Ball</p>
            {% endif %}

        <h3>Referrals</h3>
        {% if current_user.referrals.count() > 0 %}
            <p>The following tickets have been marked as being referred by you.</p>
            <ul id="referralsList">
                {% for ticket in current_user.referrals %}
                    <li>#{{ '%05d' % ticket.id }}, owned by {{ ticket.owner.firstname }} {{ ticket.owner.surname }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You haven't referred any tickets yet</p>
        {% endif %}
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    var nameChangeURL = '{{ url_for('ajax.ajaxChangeTicketName', id=123456789, _external=True) }}'

        function changeTicketName(id, formSubmit) {
            if (formSubmit) {
                var nameInput = $('#ticketNameInput-'+id);
                var ticketName = $('#ticketName-'+id);
                jQuery.ajax(
                    nameChangeURL.replace('123456789',id),
                    {
                        'data': {
                            'name': nameInput.val()
                        },
                        'type': 'POST',
                        'dataType': 'json',
                        'success': function(data, code, xhr) {
                            if (data) {
                                ticketName.html(nameInput.val())
                                nameInput.attr('value',nameInput.val())
                            } else {
                                if (ticketName.html() == 'Not Set') {
                                    nameInput.attr('value','')
                                    nameInput.val('')
                                } else {
                                    nameInput.attr('value',ticketName.html())
                                    nameInput.val(ticketName.html())
                                }
                            }
                        }
                    }
                );

                $('#ticketNameForm-'+id).hide();
                $('#ticketNameDisplay-'+id).show();
            } else {
                $('#ticketNameDisplay-'+id).hide();
                $('#ticketNameForm-'+id).show();
            }
        }
    </script>
{% endblock %}
