<!-- purchase/upgrade.html -->

{% extends 'layout.html' %}

{% block title %}Upgrade Tickets{% endblock %}

{% block content %}
    <section id="cancel" class="columns">
        <p>If you wish to upgrade tickets, you must first own them:</p>
        <h3>Select Tickets to Upgrade:</h3>
        <form action="{{ url_for('purchase.upgrade_ticket') }}" method="post">
            <table id="tickets_table">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Ticket Number</th>
                        <th>Ticket Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in current_user.tickets %}
                        {% if ticket.can_be_upgraded() %}
                            <tr id="ticket-{{ ticket.object_id }}">
                                <td><input type="checkbox" name="tickets[]" id="ticket_select-{{ ticket.object_id }}" value="{{ ticket.object_id }}" {% if tickets and ticket.object_id in tickets %}checked="checked" {% endif %}/></td>
                                <td><label for="ticket_select-{{ ticket.object_id }}">#{{ '%05d' % ticket.object_id }}</label></td>
                                <td><label for="ticket_select-{{ ticket.object_id }}">{{ ticket.status }}</label></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <input type="submit" value="Upgrade Tickets" class="button" />
        </form>
    </section>
{% endblock %}
