<!-- admin/adminHome.html -->
{% extends 'layout.html' %}

{% block title %}Search Database{% endblock %}

{% block content %}
    <section id="adminHome" class="columns">
        <p>Leave text fields blank to ignore</p>
        <form method="post">
            <fieldset class="row">
                <div class="large-4 columns">
                    <div class="row">
                        <div class="columns">
                            <label for="search-user">
                                <input type="radio" name="search" id="search-user" value="user" {% if 'search' not in form or form['search'] == 'user' %}checked="checked" {% endif %}/>
                                Users
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="userName">Name</label>
                            <input type="text" name="userName" id="userName" {% if form['userName'] %}value="{{ form['userName'] }}" {% endif %}/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="userEmail">Email</label>
                            <input type="text" name="userEmail" id="userEmail" {% if form['userEmail'] %}value="{{ form['userEmail'] }}" {% endif %}/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="userCollege">College</label>
                            <select name="userCollege" id="userCollege">
                                {% if form['userCollege'] %}
                                    <option value="Any">Any</option>
                                {% else %}
                                    <option value="Any" selected="selected">Any</option>
                                {% endif %}
                                {% for college in colleges %}
                                    {% if form['userCollege'] and form['userCollege']|int(-1) == college.id %}
                                        <option value="{{ college.id }}" selected="selected">{{ college.name }}</option>
                                    {% else %}
                                        <option value="{{ college.id }}">{{ college.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="userAffiliation">Affiliation</label>
                            <select name="userAffiliation" id="userAffiliation">
                                {% if form['affiliation'] %}
                                    <option value="Any">Any</option>
                                {% else %}
                                    <option value="Any" selected="selected">Any</option>
                                {% endif %}
                                {% for affiliation in affiliations %}
                                    {% if form['userAffiliation'] and form['userAffiliation']|int(-1) == affiliation.id %}
                                        <option value="{{ affiliation.id }}" selected="selected">{{ affiliation.name }}</option>
                                    {% else %}
                                        <option value="{{ affiliation.id }}">{{ affiliation.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="userTickets">Ticket Ownership</label>
                            <select name="userTickets" id="userTickets">
                                <option value="Any"{% if not form['userTickets'] or form['userTickets'] == 'Any' %} selected="selected"{% endif %}>Any</option>
                                <option value="Has"{% if form['userTickets'] and form['userTickets'] == 'Has' %} selected="selected"{% endif %}>User has tickets</option>
                                <option value="HasNot"{% if form['userTickets'] and form['userTickets'] == 'HasNot' %} selected="selected"{% endif %}>User has no tickets</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="userWaiting">Waiting</label>
                            <select name="userWaiting" id="userWaiting">
                                <option value="Any"{% if not form['userWaiting'] or form['userWaiting'] == 'Any' %} selected="selected"{% endif %}>Any</option>
                                <option value="Is"{% if form['userWaiting'] and form['userWaiting'] == 'Is' %} selected="selected"{% endif %}>User is waiting for tickets</option>
                                <option value="IsNot"{% if form['userWaiting'] and form['userWaiting'] == 'IsNot' %} selected="selected"{% endif %}>User is not waiting for tickets</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="large-4 columns">
                    <div class="row">
                        <div class="columns">
                            <label for="search-tickets">
                                <input type="radio" name="search" id="search-tickets" value="ticket" {% if form['search'] and form['search'] == 'ticket' %}checked="checked" {% endif %}/>
                                Tickets
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="ticketNumber">Ticket Number</label>
                            <input type="text" name="ticketNumber" id="ticketNumber" {% if form['ticketNumber'] %}value="{{ form['ticketNumber'] }}" {% endif %}/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="ticketName">Name on Ticket</label>
                            <input type="text" name="ticketName" id="ticketName" {% if form['ticketName'] %}value="{{ form['ticketName'] }}" {% endif %}/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="ticketMinPrice">Minimum Ticket Price</label>
                            <input type="number" name="ticketMinPrice" id="ticketMinPrice" {% if form['ticketMinPrice'] %}value="{{ form['ticketMinPrice'] }}" {% endif %}/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="ticketMaxPrice">Maximum Ticket Price</label>
                            <input type="number" name="ticketMaxPrice" id="ticketMaxPrice" {% if form['ticketMaxPrice'] %}value="{{ form['ticketMaxPrice'] }}" {% endif %}/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="ticketMethod">Payment Method</label>
                            <select name="ticketMethod" id="ticketMethod">
                                <option value="Any"{% if form['ticketMethod'] and form['ticketMethod'] == 'Any' %} selected="selected"{% endif %}>Any</option>
                                <option value="Battels"{% if form['ticketMethod'] and form['ticketMethod'] == 'Battels' %} selected="selected"{% endif %}>Battels</option>
                                <option value="Card"{% if form['ticketMethod'] and form['ticketMethod'] == 'Card' %} selected="selected"{% endif %}>Card</option>
                                <option value="Cash"{% if form['ticketMethod'] and form['ticketMethod'] == 'Cash' %} selected="selected"{% endif %}>Cash</option>
                                <option value="Cheque"{% if form['ticketMethod'] and form['ticketMethod'] == 'Cheque' %} selected="selected"{% endif %}>Cheque</option>
                                <option value="Free"{% if form['ticketMethod'] and form['ticketMethod'] == 'Free' %} selected="selected"{% endif %}>Free</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="ticketPaid">Paid For</label>
                            <select name="ticketPaid" id="ticketPaid">
                                <option value="Any"{% if form['ticketPaid'] and form['ticketPaid'] == 'Any' %} selected="selected"{% endif %}>Any</option>
                                <option value="Is"{% if form['ticketPaid'] and form['ticketPaid'] == 'Is' %} selected="selected"{% endif %}>Ticket is paid for</option>
                                <option value="IsNot"{% if form['ticketPaid'] and form['ticketPaid'] == 'IsNot' %} selected="selected"{% endif %}>Ticket is not paid for</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="ticketCollected">Collected</label>
                            <select name="ticketCollected" id="ticketCollected">
                                <option value="Any"{% if form['ticketCollected'] and form['ticketCollected'] == 'Any' %} selected="selected"{% endif %}>Any</option>
                                <option value="Is"{% if form['ticketCollected'] and form['ticketCollected'] == 'Is' %} selected="selected"{% endif %}>Ticket is collected</option>
                                <option value="IsNot"{% if form['ticketCollected'] and form['ticketCollected'] == 'IsNot' %} selected="selected"{% endif %}>Ticket is not collected</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="ticketReferrer">Referrer</label>
                            <select name="ticketReferrer" id="ticketReferrer">
                                <option value="Any"{% if form['ticketReferrer'] and form['ticketReferrer'] == 'Any' %} selected="selected"{% endif %}>Any</option>
                                <option value="Has"{% if form['ticketReferrer'] and form['ticketReferrer'] == 'Has' %} selected="selected"{% endif %}>Ticket has a referrer</option>
                                <option value="HasNot"{% if form['ticketReferrer'] and form['ticketReferrer'] == 'HasNot' %} selected="selected"{% endif %}>Ticket has no referrer</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="large-4 columns">
                    <div class="row">
                        <div class="columns">
                            <label for="search-log">
                                <input type="radio" name="search" id="search-log" value="log" {% if form['search'] and form['search'] == 'log' %}checked="checked" {% endif %}/>
                                Log Entries
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="logIP">IP Address</label>
                            <input type="text" name="logIP" id="logIP" {% if form['logIP'] %}value="{{ form['logIP'] }}" {% endif %}/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="logStart">Start date/time</label>
                            <input type="text" name="logStart" id="logStart" {% if form['logStart'] %}value="{{ form['logStart'] }}" {% endif %}/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="logEnd">End date/time</label>
                            <input type="text" name="logEnd" id="logEnd" {% if form['logEnd'] %}value="{{ form['logEnd'] }}" {% endif %}/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="logMessage">Message includes</label>
                            <input type="text" name="logMessage" id="logMessage" {% if form['logMessage'] %}value="{{ form['logMessage'] }}" {% endif %}/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="logUser">Search log by</label>
                            <select name="logUser" id="logUser">
                                <option value="User"{% if form['logUser'] and form['logUser'] == 'User' %} selected="selected"{% endif %}>User</option>
                                <option value="Actor"{% if form['logUser'] and form['logUser'] == 'Actor' %} selected="selected"{% endif %}>Actor</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="row">
                <div class="large-3 columns">
                    {% if category != None and results.has_prev %}
                        <input type="submit" formaction="{{ url_for('admin.adminHome', page=results.prev_num) }}" value="Previous Page" class="button"/>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </div>
                <div class="large-6 columns">
                    <label for="numResults">Results per Page</label>
                    <div class="row collapse">
                        <div class="large-6 columns">
                            <select name="numResults" id="numResults">
                                <option value="10" {% if form['numResults'] and form['numResults'] == 10 %}selected="selected"{% endif %}>10</option>
                                <option value="20" {% if form['numResults'] and form['numResults'] == 20 %}selected="selected"{% endif %}>20</option>
                                <option value="50" {% if form['numResults'] and form['numResults'] == 50 %}selected="selected"{% endif %}>50</option>
                                <option value="100" {% if form['numResults'] and form['numResults'] == 100 %}selected="selected"{% endif %}>100</option>
                            </select>
                        </div>
                        <div class="large-6 columns">
                            <input type="submit" action="{{ url_for('admin.adminHome') }}" value="Search" class="button postfix"/>
                        </div>
                    </div>
                </div>
                <div class="large-3 columns">
                    {% if category != None and results.has_next %}
                        <input type="submit" formaction="{{ url_for('admin.adminHome', page=results.next_num) }}" value="Next Page" class="button right"/>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </div>
            </div>
        </form>
        {% if category == 'User' %}
            <h3>User Search Results</h3>
            <table id="usersTable">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in results.items %}
                        <tr id="user-{{ user.id }}">
                            <td>#{{ '%05d' % user.id }}</td>
                            <td>{{ user.fullname }}</td>
                            <td>{{ user.email }}</td>
                            <td><a class="button small" href="{{ url_for('admin.viewUser', id=user.id) }}">View User</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% elif category == 'Ticket' %}
            <h3>Ticket Search Results</h3>
            <table id="ticketsTable">
                <thead>
                    <tr>
                        <th>Ticket Number</th>
                        <th>Name on Ticket</th>
                        <th>Ticket Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in results.items %}
                        <tr id="ticket-{{ ticket.id }}">
                            <td>#{{ '%05d' % ticket.id }}</td>
                            <td>{% if ticket.name == None %}Not Set{% else %}{{ ticket.name }}{% endif %}</td>
                            <td>
                                {% if ticket.cancelled -%}
                                    Cancelled.
                                {% elif ticket.collected -%}
                                    Collected as {{ ticket.barcode }}.
                                {% elif ticket.resalekey != None -%}
                                    {% if ticket.resaleconfirmed -%}
                                        Pending resale completion
                                    {% else -%}
                                        Pending resale confirmation
                                    {% endif %}
                                {% elif ticket.paid -%}
                                    {% if ticket.payment_method == 'Free' -%}
                                        Free Ticket.
                                    {% else -%}
                                        Paid for by {{ ticket.paymentmethod }}.
                                    {% endif %}
                                {% else -%}
                                    Awaiting {{ ticket.paymentmethod }} payment. Expires {{ ticket.expires.strftime('%H:%M %d/%m/%Y') }}
                                {% endif %}
                            </td>
                            <td><a class="button small" href="{{ url_for('admin.viewTicket', id=ticket.id) }}">View Ticket</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% elif category == 'Log' %}
            <h3>Log Search Results</h3>
            <table id="ticketsTable">
                <thead>
                    <tr>
                        <th>Date/Time</th>
                        <th>IP</th>
                        <th>Message</th>
                        <th>Actor</th>
                        <th>User</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in results.items %}
                        <tr id="log-{{ log.id }}">
                            <td>{{ log.timestamp.strftime('%c') }}</td>
                            <td>{{ log.ip }}</td>
                            <td>{{ log.action }}</td>
                            <td>{{ log.actor.fullname }}</td>
                            <td>{{ log.user.fullname }}</td>
                            <td><a class="button small" href="{{ url_for('admin.viewLog', id=log.id) }}">View Log Entry</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </section>
{% endblock %}