<!-- admin/admin_home.html -->
{% extends 'layout.html' %}

{% block title %}Search Database{% endblock %}

{% block content %}
    <section id="admin_home" class="columns">
        <p>Leave text fields blank to ignore</p>
        <form method="post">
            <fieldset class="row">
                <div class="large-4 columns">
                    <div class="row">
                        <div class="columns">
                            <label for="search-user">
                                <input type="radio" name="search" id="search-user" value="user" {% if 'search' not in form or form['search'] == 'user' %}checked="checked" {% endif %}/>
                                Users
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="user_name">Name</label>
                            <input type="text" name="user_name" id="user_name" {% if form['user_name'] %}value="{{ form['user_name'] }}" {% endif %}/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="user_email">Email</label>
                            <input type="text" name="user_email" id="user_email" {% if form['user_email'] %}value="{{ form['user_email'] }}" {% endif %}/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="user_college">College</label>
                            <select name="user_college" id="user_college">
                                {% if form['user_college'] %}
                                    <option value="Any">Any</option>
                                {% else %}
                                    <option value="Any" selected="selected">Any</option>
                                {% endif %}
                                {% for college in colleges %}
                                    {% if form['user_college'] and form['user_college']|int(-1) == college.object_id %}
                                        <option value="{{ college.object_id }}" selected="selected">{{ college.name }}</option>
                                    {% else %}
                                        <option value="{{ college.object_id }}">{{ college.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="user_affiliation">Affiliation</label>
                            <select name="user_affiliation" id="user_affiliation">
                                {% if form['affiliation'] %}
                                    <option value="Any">Any</option>
                                {% else %}
                                    <option value="Any" selected="selected">Any</option>
                                {% endif %}
                                {% for affiliation in affiliations %}
                                    {% if form['user_affiliation'] and form['user_affiliation']|int(-1) == affiliation.object_id %}
                                        <option value="{{ affiliation.object_id }}" selected="selected">{{ affiliation.name }}</option>
                                    {% else %}
                                        <option value="{{ affiliation.object_id }}">{{ affiliation.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="user_tickets">Ticket Ownership</label>
                            <select name="user_tickets" id="user_tickets">
                                <option value="Any"{% if not form['user_tickets'] or form['user_tickets'] == 'Any' %} selected="selected"{% endif %}>Any</option>
                                <option value="Has"{% if form['user_tickets'] and form['user_tickets'] == 'Has' %} selected="selected"{% endif %}>User has tickets</option>
                                <option value="HasNot"{% if form['user_tickets'] and form['user_tickets'] == 'HasNot' %} selected="selected"{% endif %}>User has no tickets</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="user_waiting">Waiting</label>
                            <select name="user_waiting" id="user_waiting">
                                <option value="Any"{% if not form['user_waiting'] or form['user_waiting'] == 'Any' %} selected="selected"{% endif %}>Any</option>
                                <option value="Is"{% if form['user_waiting'] and form['user_waiting'] == 'Is' %} selected="selected"{% endif %}>User is waiting for tickets</option>
                                <option value="IsNot"{% if form['user_waiting'] and form['user_waiting'] == 'IsNot' %} selected="selected"{% endif %}>User is not waiting for tickets</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="large-4 columns">
                    <div class="row">
                        <div class="columns">
                            <label for="search-tickets">
                                <input type="radio" name="search" id="search-tickets" value="ticket" {% if form['search'] and form['search'] == 'ticket' %}checked="checked" {% endif %}/>
                                Tickets
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="ticket_number">Ticket Number</label>
                            <input type="text" name="ticket_number" id="ticket_number" {% if form['ticket_number'] %}value="{{ form['ticket_number'] }}" {% endif %}/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="ticket_name">Name on Ticket</label>
                            <input type="text" name="ticket_name" id="ticket_name" {% if form['ticket_name'] %}value="{{ form['ticket_name'] }}" {% endif %}/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="ticket_barcode">Ticket Barcode</label>
                            <input type="text" name="ticket_barcode" id="ticket_barcode" {% if form['ticket_barcode'] %}value="{{ form['ticket_barcode'] }}" {% endif %}/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="ticket_min_price">Minimum Ticket Price</label>
                            <input type="number" name="ticket_min_price" id="ticket_min_price" {% if form['ticket_min_price'] %}value="{{ form['ticket_min_price'] }}" {% endif %}/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="ticket_max_price">Maximum Ticket Price</label>
                            <input type="number" name="ticket_max_price" id="ticket_max_price" {% if form['ticket_max_price'] %}value="{{ form['ticket_max_price'] }}" {% endif %}/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="ticket_method">Payment Method</label>
                            <select name="ticket_method" id="ticket_method">
                                <option value="Any"{% if form['ticket_method'] and form['ticket_method'] == 'Any' %} selected="selected"{% endif %}>Any</option>
                                <option value="Battels"{% if form['ticket_method'] and form['ticket_method'] == 'Battels' %} selected="selected"{% endif %}>Battels</option>
                                <option value="Card"{% if form['ticket_method'] and form['ticket_method'] == 'Card' %} selected="selected"{% endif %}>Card</option>
                                <option value="Cash"{% if form['ticket_method'] and form['ticket_method'] == 'Cash' %} selected="selected"{% endif %}>Cash</option>
                                <option value="Cheque"{% if form['ticket_method'] and form['ticket_method'] == 'Cheque' %} selected="selected"{% endif %}>Cheque</option>
                                <option value="Free"{% if form['ticket_method'] and form['ticket_method'] == 'Free' %} selected="selected"{% endif %}>Free</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="ticket_paid">Paid For</label>
                            <select name="ticket_paid" id="ticket_paid">
                                <option value="Any"{% if form['ticket_paid'] and form['ticket_paid'] == 'Any' %} selected="selected"{% endif %}>Any</option>
                                <option value="Is"{% if form['ticket_paid'] and form['ticket_paid'] == 'Is' %} selected="selected"{% endif %}>Ticket is paid for</option>
                                <option value="IsNot"{% if form['ticket_paid'] and form['ticket_paid'] == 'IsNot' %} selected="selected"{% endif %}>Ticket is not paid for</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="ticket_collected">Collected</label>
                            <select name="ticket_collected" id="ticket_collected">
                                <option value="Any"{% if form['ticket_collected'] and form['ticket_collected'] == 'Any' %} selected="selected"{% endif %}>Any</option>
                                <option value="Is"{% if form['ticket_collected'] and form['ticket_collected'] == 'Is' %} selected="selected"{% endif %}>Ticket is collected</option>
                                <option value="IsNot"{% if form['ticket_collected'] and form['ticket_collected'] == 'IsNot' %} selected="selected"{% endif %}>Ticket is not collected</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="ticket_referrer">Referrer</label>
                            <select name="ticket_referrer" id="ticket_referrer">
                                <option value="Any"{% if form['ticket_referrer'] and form['ticket_referrer'] == 'Any' %} selected="selected"{% endif %}>Any</option>
                                <option value="Has"{% if form['ticket_referrer'] and form['ticket_referrer'] == 'Has' %} selected="selected"{% endif %}>Ticket has a referrer</option>
                                <option value="HasNot"{% if form['ticket_referrer'] and form['ticket_referrer'] == 'HasNot' %} selected="selected"{% endif %}>Ticket has no referrer</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="large-4 columns">
                    <div class="row">
                        <div class="columns">
                            <label for="search-log">
                                <input type="radio" name="search" id="search-log" value="log" {% if form['search'] and form['search'] == 'log' %}checked="checked" {% endif %}/>
                                Log Entries
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="log_ip">IP Address</label>
                            <input type="text" name="log_ip" id="log_ip" {% if form['log_ip'] %}value="{{ form['log_ip'] }}" {% endif %}/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="log_start">Start date/time</label>
                            <input type="text" name="log_start" id="log_start" {% if form['log_start'] %}value="{{ form['log_start'] }}" {% endif %}/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="log_end">End date/time</label>
                            <input type="text" name="log_end" id="log_end" {% if form['log_end'] %}value="{{ form['log_end'] }}" {% endif %}/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="log_message">Message includes</label>
                            <input type="text" name="log_message" id="log_message" {% if form['log_message'] %}value="{{ form['log_message'] }}" {% endif %}/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="log_user">Search log by</label>
                            <select name="log_user" id="log_user">
                                <option value="User"{% if form['log_user'] and form['log_user'] == 'User' %} selected="selected"{% endif %}>User</option>
                                <option value="Actor"{% if form['log_user'] and form['log_user'] == 'Actor' %} selected="selected"{% endif %}>Actor</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="row">
                <div class="large-3 columns">
                    {% if category != None and results.has_prev %}
                        <input type="submit" formaction="{{ url_for('admin.admin_home', page=results.prev_num) }}" value="Previous Page" class="button"/>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </div>
                <div class="large-6 columns">
                    <label for="num_results">Results per Page</label>
                    <div class="row collapse">
                        <div class="large-6 columns">
                            <select name="num_results" id="num_results">
                                <option value="10" {% if form['num_results'] and form['num_results'] == 10 %}selected="selected"{% endif %}>10</option>
                                <option value="20" {% if form['num_results'] and form['num_results'] == 20 %}selected="selected"{% endif %}>20</option>
                                <option value="50" {% if form['num_results'] and form['num_results'] == 50 %}selected="selected"{% endif %}>50</option>
                                <option value="100" {% if form['num_results'] and form['num_results'] == 100 %}selected="selected"{% endif %}>100</option>
                            </select>
                        </div>
                        <div class="large-6 columns">
                            <input type="submit" action="{{ url_for('admin.admin_home') }}" value="Search" class="button postfix"/>
                        </div>
                    </div>
                </div>
                <div class="large-3 columns">
                    {% if category != None and results.has_next %}
                        <input type="submit" formaction="{{ url_for('admin.admin_home', page=results.next_num) }}" value="Next Page" class="button right"/>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </div>
            </div>
        </form>
        {% if category == 'User' %}
            <h3>User Search Results</h3>
            <table id="users_table">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in results.items %}
                        <tr id="user-{{ user.object_id }}">
                            <td>#{{ '%05d' % user.object_id }}</td>
                            <td>{{ user.full_name }}</td>
                            <td>{{ user.email }}</td>
                            <td><a class="button small" href="{{ url_for('admin_users.view_user', user_id=user.object_id) }}">View User</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% elif category == 'Ticket' %}
            <h3>Ticket Search Results</h3>
            <table id="tickets_table">
                <thead>
                    <tr>
                        <th>Ticket Number</th>
                        <th>Name on Ticket</th>
                        <th>Ticket Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in results.items %}
                        <tr id="ticket-{{ ticket.object_id }}">
                            <td>#{{ '%05d' % ticket.object_id }}</td>
                            <td>{% if ticket.name == None %}Not Set{% else %}{{ ticket.name }}{% endif %}</td>
                            <td>
                                {% if ticket.cancelled -%}
                                    Cancelled.
                                {% elif ticket.collected -%}
                                    Collected as {{ ticket.barcode }}.
                                {% elif ticket.resale_key != None -%}
                                    {% if ticket.resaleconfirmed -%}
                                        Pending resale completion
                                    {% else -%}
                                        Pending resale confirmation
                                    {% endif %}
                                {% elif ticket.paid -%}
                                    {% if ticket.payment_method == 'Free' -%}
                                        Free Ticket.
                                    {% else -%}
                                        Paid for by {{ ticket.payment_method }}.
                                    {% endif %}
                                {% else -%}
                                    Awaiting {{ ticket.payment_method }} payment. Expires {{ ticket.expires.strftime('%H:%M %d/%m/%Y') }}
                                {% endif %}
                            </td>
                            <td><a class="button small" href="{{ url_for('admin_tickets.view_ticket', id=ticket.object_id) }}">View Ticket</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% elif category == 'Log' %}
            <h3>Log Search Results</h3>
            <table id="log_entries_table">
                <thead>
                    <tr>
                        <th>Date/Time</th>
                        <th>IP</th>
                        <th>Message</th>
                        <th>Actor</th>
                        <th>User</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in results.items %}
                        <tr id="log-{{ log.object_id }}">
                            <td>{{ log.timestamp.strftime('%c') }}</td>
                            <td>{{ log.ip }}</td>
                            <td>{{ log.action }}</td>
                            <td>{{ log.actor.full_name }}</td>
                            <td>{{ log.user.full_name }}</td>
                            <td><a class="button small" href="{{ url_for('admin.view_log', id=log.object_id) }}">View Log Entry</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </section>
{% endblock %}
