<!-- admin/statistics.html -->
{% extends 'layout.html' %}

{% block title %}Data and Statistics{% endblock %}

{% block content %}
    <section id="adminHome" class="columns">
        <h4>Sales (<a href="{{ url_for('admin.data', group='sales') }}" target="_blank">Raw Data</a>)</h4>
        <p class="small">Click on graph to view full size</p>
        <a href="{{ url_for('admin.graphSales') }}" target="_blank">
            <img src="{{ url_for('admin.graphSales') }}" />
        </a>
        <h4>Payments (<a href="{{ url_for('admin.data', group='payments') }}" target="_blank">Raw Data</a>)</h4>
        <p class="small">Click on graph to view full size</p>
        <a href="{{ url_for('admin.graphPayments') }}" target="_blank">
            <img src="{{ url_for('admin.graphPayments') }}" />
        </a>
        <h4>Colleges (<a href="{{ url_for('admin.data', group='colleges') }}" target="_blank">Raw Data</a>)</h4>
        <p class="small">Click on graph to view full size</p>
        <a href="{{ url_for('admin.graphColleges') }}" target="_blank">
            <img src="{{ url_for('admin.graphColleges') }}" />
        </a>
    </section>
{% endblock %}