<!-- admin/verify_graduands.html -->
{% extends 'layout.html' %}

{% block title %}Verify Graduands{% endblock %}

{% block content %}
    <section id="verify_graduands" class="columns">
        <p>The following users have registered giving their status as a Keble Graduand, and must be verified to allow them access to the limited release.</p>
        <table id="graduands_table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Verify</th>
                    <th>Deny</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr id="user-{{ user.id }}">
                        <td>{{ user.fullname }}</label></td>
                        <td><a href="{{ url_for('admin.verify_graduand_status', id=user.id) }}" class="button tiny">Verify Status</a></td>
                        <td><a href="{{ url_for('admin.deny_graduand_status', id=user.id) }}" class="button tiny">Deny Status</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
