@import "scss/vendor/normalize";

@import "scss/variables";

@import "scss/vendor/foundation";

@import "scss/fonts/quicksand";
@import "scss/fonts/metshige";

@import "scss/vendor/simple-slider";

.blue {
    color: $blue;
}

.red {
    color: $red;
}

a {
    font-weight: bold;
}

#logo {
    text-align: center;
}

#user {
    text-align: right;
}

#copyright {
    text-align: center;
}

.message-box {
    display: block;
    border: 3px solid;
    padding: 0.5em;
    margin: 0.5em;
    &.error {
        background-color: #f3afbf;
        border: 3px solid #f31323;
    }
    &.warning {
        background-color: #f3cf9f;
        border: 3px solid #f38323;
    }
    &.success {
        background-color: #83ef9f;
        border: 3px solid #338323;
    }
    &.info {
        background-color: #b3dfef;
        border: 3px solid #1313f3;
    }
    p:last-child {
        margin-bottom: 0;
    }
}

#flashes {
    ul {
        margin: 0;
    }
    li {
        @extend .message-box;
    }
}

p.small {
    font-size: 0.75rem;
}