<!-- group_purchase/dashboard.html -->
{% extends 'layout.html' %}

{% block title %}Group Purchase{% endblock %}

{% block content %}
    <section id="group_purchase_dashboard" class="columns">
        {% if not current_user.purchase_group %}
            <p>Group purchase allows you and your friends to ensure that you all get the tickets you want, when one person cannot acquire enough tickets for everybody (during general release, there is a limit of {{ template_config['GENERAL_RELEASE_MAX_TICKETS'] }} tickets per person).</p>
            <p>By setting up/joining a purchase group, you and your friends can pool your ticket allowances to get all the tickets you need, whilst ensuring that nobody gets left without a ticket.</p>
            <p>When the general release starts, the leader of your group will be responsible for visiting the purchase page and reserving the tickets requested by everybody in the group. The tickets will then be allocated to each group member as appropriate for individual payment. Please note that tickets will expire if not paid for within {{ format_timedelta(template_config['TICKET_EXPIRY_TIME']) }}.</p>
            <p>If you are a member of a purchase group, you will be unable to purchase tickets individually.</p>
            <p>There is a limit of {{ template_config['MAX_GROUP_MEMBERS'] }} members in each purchase group.</p>
            <ul class="pricing-table">
                <li class="title">Create Group</li>
                <li class="description">If you will be leading the group, and will purchase the tickets after the general release, you should create the group. You'll then be given a code for you to pass on to your friends so that they can join the group.</li>
                <li class="cta-button"><a class="button" href="{{ url_for('group_purchase.create') }}">Create Group</a></li>
            </ul>
            <form action="{{ url_for('group_purchase.join') }}" method="post">
                <ul class="pricing-table">
                    <li class="title">Join Group</li>
                    <li class="description">If somebody else has already created a group, they'll have a code for you to join. Enter it below.</li>
                    <li class="cta-button">
                        <input type="text" name="code" placeholder="Group Code" style="text-align: center" />
                        <button>Join Group</button>
                    </li>
                </ul>
            </form>
        {% elif current_user.purchase_group.purchased %}
            <p>The tickets have been purchased for this purchase group.</p>
            {% if current_user == current_user.purchase_group.leader %}
                <p>To disband this group, <a href="{{ url_for('group_purchase.disband') }}">click here</a>.</p>
            {% else %}
                <p>To leave this group, <a href="{{ url_for('group_purchase.leave') }}">click here</a>.</p>
            {% endif %}
        {% else %}
            {% if current_user == current_user.purchase_group.leader %}
                <p>You are leading this purchase group. To invite people to join your group, direct them to <a href="{{ url_for('group_purchase.dashboard', _external=true) }}">{{ url_for('group_purchase.dashboard', _external=true) }}</a> and give them the following code to join with: <span id="join_group_code">{{ current_user.purchase_group.code }}</span></p>
                <p>To disband this group, <a href="{{ url_for('group_purchase.disband') }}">click here</a>.</p>
                <h2>Group Members</h2>
                <ul>
                    {% for member in current_user.purchase_group.members %}
                        <li>{{ member.full_name }}</li>
                    {% endfor %}
                </ul>
                <h2>Tickets Requested</h2>
                <table>
                    <thead>
                        <th>Ticket type</th>
                        <th>Price per ticket</th>
                        <th>Number</th>
                        <th>Requested by</th>
                        <th>Total value of request</th>
                    </thead>
                    {% for request in current_user.purchase_group.requests %}
                        <tr>
                            <td>{{ request.ticket_type.name }}</td>
                            <td>&pound;{{ request.ticket_type.price_pounds }}</td>
                            <td>{{ request.number_requested }}</td>
                            <td>{{ request.requester.full_name }}</td>
                            <td>&pound;{{ request.value_pounds }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>Total:</td>
                        <td></td>
                        <td>{{ current_user.purchase_group.total_requested }}</td>
                        <td></td>
                        <td>&pound;{{ current_user.purchase_group.total_value_pounds }}</td>
                    </tr>
                </table>
            {% else %}
                <p>You are a member of a purchase group run by {{ current_user.purchase_group.leader.full_name }}.</p>
                <p>To leave this group, <a href="{{ url_for('group_purchase.leave') }}">click here</a>.</p>
            {% endif %}
            <h2>Update your ticket request:</h2>
            <form action="{{ url_for('group_purchase.update_request') }}" id="purchase_form" method="post">
                <table id="ticket_type_table">
                    <thead>
                        <th>Ticket type</th>
                        <th>Price</th>
                        <th>Number</th>
                    </thead>
                    {% for ticket_type, limit in ticket_info.ticket_types %}
                        <tr>
                            <td>{{ ticket_type.name }}</td>
                            <td>&pound;{{ ticket_type.price_pounds }}</td>
                            <td><input type="number" name="num_tickets_{{ ticket_type.slug }}" id="num_tickets_{{ ticket_type.slug }}" class="num_ticket_input" min="0" max="{{ limit }}" value="{{ current_user.group_purchase_requested(ticket_type.slug) }}" /></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>Total:</td>
                        <td id="total_value">&pound;{{ current_user.total_group_purchase_value }}</td>
                        <td id="total_tickets">{{ current_user.total_group_purchase_requested }}</td>
                    </tr>
                </table>
                <input type="submit" value="Update Request" class="button tiny" />
            </form>
        {% endif %}
    </section>
{% endblock %}

{% block javascripts %}
    {% if current_user.purchase_group %}
        <script type="text/javascript">
            String.prototype.toInt = function(){
                return parseInt(this, 10);
            }

            var ticket_info = {{ ticket_info.to_json()|safe }};

            var num_ticket_inputs = $(".num_ticket_input")

            num_ticket_inputs.on("change", function () {
                var total_tickets_ordered = 0;
                var total_value = 0;

                $(ticket_info.ticket_types).each(function(_, ticket_type) {
                    var input = $("#num_tickets_" + ticket_type.slug);

                    var ordered = input.val().toInt();
                    var max = input.attr("max").toInt();

                    if (ordered > max) {
                        ordered = max;
                        input.val(max);
                    }

                    total_tickets_ordered = total_tickets_ordered + ordered;

                    total_value = total_value + ordered * ticket_type.price;
                });

                var price_str = total_value + "";
                while (price_str.length < 3) price_str = "0" + price_str;

                $("#total_value").html("&pound;" + price_str.slice(0, -2) + "." + price_str.slice(-2));
                $("#total_tickets").html(total_tickets_ordered);

                var total_tickets_available = ticket_info.total_tickets_available - total_tickets_ordered;

                $(ticket_info.ticket_types).each(function(_, ticket_type) {
                    var input = $("#num_tickets_" + ticket_type.slug);

                    var ordered = input.val().toInt();
                    var limit = Math.min(
                        ticket_type.purchase_limit,
                        ordered + total_tickets_available
                    );

                    input.attr("max", Math.max(0, limit));
                });
            });
        </script>
    {% endif %}
{% endblock %}
