<!-- admin_photos/verify_photos.html -->
{% extends 'layout.html' %}

{% block title %}Verify Photos{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    <section id="verify_photos" class="columns">
        <div style="text-align: center">
            <p><a href="{{ photo.full_url }}?{{ random }}"><img src="{{ photo.thumb_url }}?{{ random }}" /></a></p>
            <p>
                <a class="button small" href="{{ url_for('admin_photos.accept_photo', photo_id=photo.object_id) }}">Accept</a>
                <a class="button small" href="{{ url_for('admin_photos.reject_photo', photo_id=photo.object_id) }}">Reject</a>
                <a class="button small" href="{{ url_for('admin_photos.rotate_photo', photo_id=photo.object_id, degrees=270) }}">Rotate 90&deg; CW <i class="fa fa-rotate-right"></i></a>
                <a class="button small" href="{{ url_for('admin_photos.rotate_photo', photo_id=photo.object_id, degrees=90) }}">Rotate 90&deg; CCW <i class="fa fa-rotate-left"></i></a>
                <a class="button small" href="{{ url_for('admin_photos.rotate_photo', photo_id=photo.object_id, degrees=180) }}">Rotate 180&deg;</a>
            </p>
        </div>
    </section>
{% endblock %}
