<!-- front/email_confirm.html -->
{% extends 'layout.html' %}

{% block title %}Confirm your Email Address{% endblock %}

{% block content %}
    <section id="email_confirm" class="columns">
        <p>If you have lost or not received the email to confirm your address, you can request another by entering your email address in the box below.</p>
        <p>If the email does not arrive in your inbox, please check your spam folder. If it is not there, please contact <a href="mailto:tickets@kebleball.com">tickets@kebleball.com</a> for assistance.</p>
        <form action="{{ url_for('front.email_confirm') }}" method="post">
            <div class="row">
                <div class="large-12 columns">
                    <label for="email">Email Address</label>
                    <input type="email" name="email" id="email" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input type="submit" value="Submit Password Reset" class="button" />
                </div>
            </div>
        </form>
    </section>
{% endblock %}
