<!-- front/home.html -->
{% extends 'layout.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <section id="homepage" class="columns">
        <p>
            Welcome to the Keble Ball ticketing system. Through this system, you can
            purchase, manage, and trade tickets. If you have any problems while using
            the system, please contact <a href="mailto:tickets@kebleball.com">the ticketing officer</a>.
        </p>
        <p>
            Keble Ball 2014 will take place on the night of May 10th. Tickets are available in advance only, there will be no tickets for sale on the door. To purchase a ticket, please register or log in
        </p>
        <div class="row">
            <section id="homepage-login" class="large-6 columns">
                <h2>Log In</h2>
                <form action="{{ url_for('front.login') }}" method="post">
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="login-email">Email Address</label>
                            <input type="email" name="email" id="login-email" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="login-password">Password</label>
                            <input type="password" name="password" id="login-password" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <input type="checkbox" value="yes" name="remember-me" id="login-remember" />
                            <label for="login-remember">Remember Me</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <input type="submit" value="Log In" />
                        </div>
                    </div>
                </form>
                <hr />
                <h4>Can't log in?</h4>
                <ul id="login-help">
                    <li><a href="{{ url_for('front.passwordReset') }}">Reset your password</a></li>
                    <li><a href="{{ url_for('front.emailConfirm') }}">Confirm your email</a></li>
                </ul>
            </section>
            <section id="homepage-register" class="large-6 columns">
                <h2>Register</h2>
                <form action="{{ url_for('front.register') }}" method="post">
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="register-name">Name</label>
                            <input type="text" name="name" id="register-name"{% if form['name'] %} value="{{ form['name'] }}"{% endif %} />
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="register-email">Email Address</label>
                            <input type="email" name="email" id="register-email"{% if form['email'] %} value="{{ form['email'] }}"{% endif %} />
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="register-password">Password</label>
                            <input type="password" name="password" id="register-password" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="register-confirm">Confirm Password</label>
                            <input type="password" name="confirm" id="register-confirm" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="register-phone">Phone Number</label>
                            <input type="text" name="phone" id="register-phone"{% if form['phone'] %} value="{{ form['phone'] }}"{% endif %} />
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="register-college">College</label>
                            <select name="college" id="register-college">
                                {% if form['college'] %}
                                    <option value="---" disabled="disabled">---</option>
                                {% else %}
                                    <option value="---" disabled="disabled" selected="selected">---</option>
                                {% endif %}
                                {% for college in colleges %}
                                    {% if form['college'] and form['college'] == college.id %}
                                        <option value="{{ college.id }}" selected="selected">{{ college.name }}</option>
                                    {% else %}
                                        <option value="{{ college.id }}">{{ college.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label for="register-affiliation">Affiliation</label>
                            <select name="affiliation" id="register-affiliation">
                                {% if form['affiliation'] %}
                                    <option value="---" disabled="disabled">---</option>
                                {% else %}
                                    <option value="---" disabled="disabled" selected="selected">---</option>
                                {% endif %}
                                {% for affiliation in affiliations %}
                                    {% if form['affiliation'] and form['affiliation'] == affiliation.id %}
                                        <option value="{{ affiliation.id }}" selected="selected">{{ affiliation.name }}</option>
                                    {% else %}
                                        <option value="{{ affiliation.id }}">{{ affiliation.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <input type="submit" value="Register" />
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </section>
{% endblock %}