<!-- front/reset_password.html -->
{% extends 'layout.html' %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
    <section id="reset_password" class="columns">
        <p>Thank you, your identity has been confirmed.</p>
        <p>Please enter a new password in the box below and again for confirmation.</p>
        <form action="{{ url_for('front.reset_password', user_id=user_id, secret_key=secret_key) }}" method="post">
            <div class="row">
                <div class="large-12 columns">
                    <label for="password">New Password</label>
                    <input type="password" name="password" id="password" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label for="confirm">Confirm New Password</label>
                    <input type="password" name="confirm" id="confirm" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input type="submit" value="Change Password" />
                </div>
            </div>
        </form>
    </section>
{% endblock %}
