<!-- front/terms.html -->
{% extends 'layout.html' %}

{% block title %}Terms &amp; Conditions{% endblock %}

{% block content %}
    <section id="terms" class="columns">
        <h6>Last Updated 23rd December 2013</h6>

        <p>Tickets for Keble Ball are subject to the following terms and conditions. By confirming, reserving, booking, or purchasing tickets for the ball, you agree to the following:</p>

        <ol>
            <li>You and any guests you invite are over 18 years of age on or before {{ template_config['START_TIME'].strftime('%d') }}{{ get_ord(template_config['START_TIME']) }} {{ template_config['START_TIME'].strftime('%B %Y') }}.</li>
            <li>Ball tickets are non-refundable, and must not be sold or transferred except through the ticketing website.</li>
            <li>Keble Ball reserves the right to cancel and refund any ticket at any time before the ball.</li>
            <li>It is your responsibility to ensure that you collect your ticket and those of any guests you may bring, at one of the ticket collection sessions to be held in the week prior to the ball. If you are not able to attend at any of the given times for whatever reason, it is your responsibility to contact the Keble Ball Committee by email to discuss alternative arrangements.</li>
            <li>You must check that you have been given the correct number of tickets when you come to collect your order. No discussion will be entered into once you have signed for your tickets.</li>
            <li>Tickets can only be collected upon presentation of photographic ID of the purchaser. Accepted forms of ID are Bod cards, driving licenses, and passports. Other forms of ID, or ID with an expired date, will not be accepted.</li>
            <li>Keble Ball Committee reserves the right to refuse admittance, with no refund of ticket, to any guest who they believe is intoxicated or under the influence of drugs.</li>
            <li>You are obliged to wear the given security ID at all times and carry with you valid photo ID in order to comply with security checks at the entrance and during the event. Failure to do so may result in your expulsion from the premises, with no refund of your ticket.</li>
            <li>Keble Ball {{ template_config['START_TIME'].strftime('%Y') }} will operate a strict no re-admittance policy. Any guest who leaves the Ball after having been admitted, will have their security ID removed and will not be allowed to re-enter under any circumstances whatsoever.</li>
            <li>You agree to behave in an appropriate manner throughout the event and will treat the college grounds, staff and other guests with respect.</li>
            <li>Any person whose behaviour is judged to be unruly or offensive by Keble Ball Committee will be expelled from the Ball immediately, will not be allowed to re-enter and will not be given a refund.</li>
            <li>The purchaser of tickets will be responsible for their own behaviour and the behaviour of any guests that they bring into the ball.</li>
            <li>Any attendees of Keble Ball {{ template_config['START_TIME'].strftime('%Y') }} who are found to be aiding non-ticket holders in an attempt to gain entry, will be immediately expelled from the ball, with no refund of their ticket.</li>
            <li>You agree to follow the instructions of Keble Ball Committee throughout the ball and in the unfortunate event of an emergency, you will comply with the health and safety procedures which the Keble Ball Committee has in place.</li>
            <li>Neither Keble Ball Committee nor Keble College are liable for any loss, damage or injuries sustained at the ball.</li>
            <li>Keble Ball Committee reserves the right to amend the programme for the event at any point.</li>
            <li>The battels payment process is not reversible after the end of 8th week in the term to which the payment was charged. Any tickets paid for by battels which are cancelled after the end of 8th week in the term to which the payment was charged will still be charged to battels, and a refund will only be applied to battels for the current term.</li>
            <li>Keble Ball Committee will acccept no responsibility for tickets that have been lost between the ticket allocation session and the evening of the ball itself, {{ template_config['START_TIME'].strftime('%d') }}{{ get_ord(template_config['START_TIME']) }} {{ template_config['START_TIME'].strftime('%B %Y') }}. In this situation, no entry will be granted to anyone who claims to have lost their ticket and no discussion will be entered into.</li>
            <li>Gates will close on the night at {{ template_config['GATES_CLOSE'].strftime('%I%p')|lower }}. After this hour no one will be admitted to the ball, regardless of whether they have a ticket or not.</li>
            <li>In the unlikely event of an emergency requiring a full scale evacuation from the ball, you must comply with instructions given by Keble Ball Committee and security staff, and you will not be issued with any compensation nor a refund for your ticket.</li>
            <li>These terms and conditions are subject to change without notice.</li>
        </ol>
    </section>
{% endblock %}
