@font-face {
    font-family: 'Adele';
    src: url('fonts/adele/adele-light-webfont-webfont.eot');
    src: url('fonts/adele/adele-light-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/adele/adele-light-webfont-webfont.woff2') format('woff2'),
         url('fonts/adele/adele-light-webfont-webfont.woff') format('woff'),
         url('fonts/adele/adele-light-webfont-webfont.ttf') format('truetype'),
         url('fonts/adele/adele-light-webfont-webfont.svg#adeleadele') format('svg');
    font-weight: lighter;
    font-style: normal;
}
