@font-face {
    font-family: 'Chopin Script';
    src: url('fonts/chopinscript/chopinscript-webfont.eot');
    src: url('fonts/chopinscript/chopinscript-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/chopinscript/chopinscript-webfont.woff2') format('woff2'),
         url('fonts/chopinscript/chopinscript-webfont.woff') format('woff'),
         url('fonts/chopinscript/chopinscript-webfont.ttf') format('truetype'),
         url('fonts/chopinscript/chopinscript-webfont.svg#chopinscriptmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
