@font-face {
    font-family: 'Metshige';
    src: url('fonts/metshige/metshige-webfont.eot');
    src: url('fonts/metshige/metshige-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/metshige/metshige-webfont.woff') format('woff'),
         url('fonts/metshige/metshige-webfont.ttf') format('truetype'),
         url('fonts/metshige/metshige-webfont.svg#metshigenormal') format('svg');
    font-weight: normal;
    font-style: normal;
}