<!-- dashboard/dashboard_home.html -->
{% extends 'layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <section id="dashboard" class="columns">
        <h3>Your ticket</h3>
        {% if current_user.has_held_ticket() %}
            <p>You will use the following ticket for entry into the ball.</p>
            <table id="tickets_table">
                <thead>
                    <tr>
                        <th>Ticket Number</th>
                        <th>Ticket Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="ticket-{{ current_user.held_ticket.object_id }}">
                        <td>#{{ '%05d' % current_user.held_ticket.object_id }}</td>
                        <td>{{ current_user.held_ticket.status }}</td>
                        <td>
                            {% if current_user.held_ticket.can_be_reclaimed() %}
                                <a href="{{ url_for('dashboard.relinquish_ticket') }}" class="button">Relinquish</a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <p>You do not have a ticket for entering the ball. If you have been given a claim code by somebody who has bought a ticket on your behalf, enter it below to claim the ticket and attach it to your account.</p>
            <p>Please note that once you have claimed a ticket, you will not be able to change your personal details or photo. Please ensure that your details and photo are correct before claiming a ticket.</p>
            <form action="{{ url_for('dashboard.claim_ticket') }}" method="post">
                <input type="text" name="claim_code" placeholder="Ticket Claim Code (xxxxx-xxxxx-xxxxx)" style="text-align: center" pattern="\d{5}-\d{5}-\d{5}" />
                <input type="submit" value="Claim Ticket" class="button" />
            </form>
        {% endif %}

        {% if (current_user.held_ticket != None) and (current_user.held_ticket.barcode != None) and (barcode is defined) %}
          <h3>Your Entry Ticket</h3>
            <img src="data:image/png;base64, {{ barcode }}" value="Your Ticket" />
        {% endif %}

        <h3>Tickets You Own</h3>
        {% if current_user.tickets.count() > 0 %}
            <table id="tickets_table">
                <thead>
                    <tr>
                        <th>Ticket Number</th>
                        <th>Ticket Status</th>
                        <th>Ticket Claim Code</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in current_user.tickets %}
                        <tr id="ticket-{{ ticket.object_id }}">
                            <td>#{{ '%05d' % ticket.object_id }}
                              {% if ticket.note != None and 'Upgrade' in ticket.note %}
                              , Upgraded
                              {% endif %}</td>
                            <td>{{ ticket.status }}</td>
                            <td>
                                {% if not ticket.cancelled %}
                                    {% if ticket.holder == None %}
                                        {{ ticket.claim_code }}
                                    {% else %}
                                        Ticket has been claimed by {{ ticket.holder.full_name }}.
                                    {% endif %}
                                {% endif %}
                            <td>
                                {% if not ticket.cancelled %}
                                    {% if not ticket.paid %}
                                        <a href="{{ url_for('purchase.complete_payment') }}" class="button tiny">Complete Payment</a>
                                    {% endif %}
                                    {% if ticket.can_be_cancelled() %}
                                        <a href="{{ url_for('purchase.cancel') }}" class="button tiny">Cancel</a>
                                    {% endif %}
                                    {% if ticket.can_be_resold() %}
                                        <a href="{{ url_for('purchase.resell') }}" class="button tiny">Resell</a>
                                    {% endif %}
                                    {% if ticket.can_be_claimed() %}
                                        <form action="{{ url_for('dashboard.claim_ticket') }}" method="post">
                                            <input type="hidden" name="claim_code" value="{{ ticket.claim_code }}" />
                                            <input type="submit" value="Claim" class="button tiny" />
                                        </form>
                                    {% endif %}
                                    {% if ticket.can_be_reclaimed() %}
                                        <a href="{{ url_for('dashboard.reclaim_ticket', ticket_id=ticket.object_id) }}" class="button tiny">Reclaim</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You have no tickets. Perhaps you'd like to <a href="{{ url_for('purchase.purchase_home') }}">buy some</a>?</p>
        {% endif %}

        <h3>Waiting List Entries</h3>
        {% if current_user.is_waiting %}
            <div id="waiting_message_wrapper"></div>
            <table id="waiting_table">
                <thead>
                    <tr>
                        <th>Waiting for</th>
                        <th>Waiting since</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for waiting in current_user.waiting %}
                        <tr id="waiting_entry_{{ waiting.object_id }}">
                            <td>
                                <span id="waiting_display_{{ waiting.object_id }}">{{ waiting.waiting_for }}</span>
                                <span id="waiting_form_{{ waiting.object_id }}" style="display: none;">
                                    <input id="waiting_input_{{ waiting.object_id }}" type="number" max="{{ waiting.waiting_for }}" min="0" value="{{ waiting.waiting_for }}" />
                                    <button class="button tiny" onclick="submit_waiting_form({{ waiting.object_id }})">Submit</button>
                                </span>
                            </td>
                            <td>{{ waiting.waiting_since.strftime('%c') }}</td>
                            <td>
                                <a onclick="show_waiting_form({{ waiting.object_id }})" class="button tiny">Update</a>
                                <a onclick="update_waiting({{ waiting.object_id }}, 0)" class="button tiny">Remove</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No waiting list entries.</p>
        {% endif %}

        <h3>Announcements</h3>
            {% if current_user.announcements|count > 0 %}
                <ul id="announcements">
                {% for announcement in current_user.announcements %}
                    <li>
                        <article class="announcement">
                            <h5>{{ announcement.subject }}</h5>
                            {{ announcement.content | truncate(250) | markdown }}
                            <a href="{{ url_for('dashboard.display_announcement', announcement_id=announcement.object_id) }}" class="read-more">Read More</a>
                        </article>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>The {{ template_config['BALL_NAME'] }} committee has not posted any announcements yet. Watch this space and check your email for important information about the Ball</p>
            {% endif %}
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var name_change_url = '{{ url_for('ajax.update_waiting', entry_id=123456789, _external=True) }}';

        function show_waiting_form(id) {
            $('#waiting_display_'+id).hide();
            $('#waiting_form_'+id).show();
            $('#waiting_input_'+id).focus();
        }

        function hide_waiting_form(id) {
            $('#waiting_display_'+id).show();
            $('#waiting_form_'+id).hide();
        }

        function submit_waiting_form(id) {
            update_waiting(id, $('#waiting_input_'+id).val());
        }

        function update_waiting(id, value) {
            jQuery.ajax(
                name_change_url.replace('123456789',id),
                {
                    'data': {
                        'waiting_for': value
                    },
                    'type': 'POST',
                    'dataType': 'json',
                    'success': function(data, code, xhr) {
                        if (data.success) {
                            if (value > 0) {
                                $('#waiting_display_'+id).html(value);
                                $('#waiting_input_'+id).attr('max', value);

                                hide_waiting_form(id);
                            } else {
                                $('#waiting_entry_'+id).remove();
                            }

                            $('#waiting_message_wrapper').html('');
                        } else {
                            $('#waiting_message_wrapper').html(
                                '<div class="message-box error"><p>' +
                                data.message +
                                '</p></div>'
                            );
                        }
                    }
                }
            );
        }
    </script>
{% endblock %}
