<!-- dashboard/dashboard_home.html -->
{% extends 'layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <section id="dashboard" class="columns">
        <h3>Your ticket</h3>
        {% if current_user.has_held_ticket() %}
            <p>You will use the following ticket for entry into the ball.</p>
            <table id="tickets_table">
                <thead>
                    <tr>
                        <th>Ticket Number</th>
                        <th>Ticket Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="ticket-{{ current_user.held_ticket.object_id }}">
                        <td>#{{ '%05d' % current_user.held_ticket.object_id }}</td>
                        <td>{{ current_user.held_ticket.status }}</td>
                        <td>
                            {% if current_user.held_ticket.can_be_reclaimed() %}
                                <a href="{{ url_for('dashboard.relinquish_ticket') }}" class="button tiny">Relinquish</a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <p>You do not have a ticket for entering the ball. If you have been given a claim code by somebody who has bought a ticket on your behalf, enter it below to claim the ticket and attach it to your account.</p>
            <p>Please note that once you have claimed a ticket, you will not be able to change your personal details or photo. Please ensure that your details and photo are correct before claiming a ticket.</p>
            <form action="{{ url_for('dashboard.claim_ticket') }}" method="post">
                <input type="text" name="claim_code" placeholder="Ticket Claim Code (xxxxx-xxxxx-xxxxx)" style="text-align: center" pattern="\d{5}-\d{5}-\d{5}" />
                <input type="submit" value="Claim Ticket" class="button postfix" />
            </form>
        {% endif %}
        <h3>Tickets You Own <a href="{{ url_for('purchase.purchase_home') }}" class="button">Buy Tickets</a></h3>
        {% if current_user.tickets.count() > 0 %}
            <table id="tickets_table">
                <thead>
                    <tr>
                        <th>Ticket Number</th>
                        <th>Ticket Status</th>
                        <th>Ticket Claim Code</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in current_user.tickets %}
                        <tr id="ticket-{{ ticket.object_id }}">
                            <td>#{{ '%05d' % ticket.object_id }}</td>
                            <td>{{ ticket.status }}</td>
                            <td>
                                {% if not ticket.cancelled %}
                                    {% if ticket.holder == None %}
                                        {{ ticket.claim_code }}
                                    {% else %}
                                        Ticket has been claimed by {{ ticket.holder.full_name }}.
                                    {% endif %}
                                {% endif %}
                            <td>
                                {% if not ticket.cancelled %}
                                    {% if not ticket.paid %}
                                        <a href="{{ url_for('purchase.complete_payment') }}" class="button tiny">Complete Payment</a>
                                    {% endif %}
                                    {% if ticket.can_be_cancelled() %}
                                        <a href="{{ url_for('purchase.cancel') }}" class="button tiny">Cancel</a>
                                    {% endif %}
                                    {% if ticket.can_be_resold() %}
                                        <a href="{{ url_for('purchase.resell') }}" class="button tiny">Resell</a>
                                    {% endif %}
                                    {% if ticket.can_be_claimed() %}
                                        <form action="{{ url_for('dashboard.claim_ticket') }}" method="post">
                                            <input type="hidden" name="claim_code" value="{{ ticket.claim_code }}" />
                                            <input type="submit" value="Claim" class="button tiny" />
                                        </form>
                                    {% endif %}
                                    {% if ticket.can_be_reclaimed() %}
                                        <a href="{{ url_for('dashboard.reclaim_ticket', ticket_id=ticket.object_id) }}" class="button tiny">Reclaim</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You have no tickets. Perhaps you'd like to <a href="{{ url_for('purchase.purchase_home') }}">buy some</a>?</p>
        {% endif %}

        {% if current_user.is_waiting %}
            <h3>Waiting List</h3>
            <p>You are currently waiting for {{ current_user.waiting_for }} tickets.</p>
        {% endif %}

        <h3>Announcements</h3>
            {% if current_user.announcements|count > 0 %}
                <ul id="announcements">
                {% for announcement in current_user.announcements %}
                    <li>
                        <article class="announcement">
                            <h5>{{ announcement.subject }}</h5>
                            {{ announcement.content | truncate(250) | markdown }}
                            <a href="{{ url_for('dashboard.display_announcement', announcement_id=announcement.object_id) }}" class="read-more">Read More</a>
                        </article>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>The {{ template_config['BALL_NAME'] }} committee has not posted any announcements yet. Watch this space and check your email for important information about the Ball</p>
            {% endif %}
    </section>
{% endblock %}
