<!-- front/email_confirm.html -->
{% extends 'layout.html' %}

{% block title %}Confirm your Email Address{% endblock %}

{% block content %}
<section id="email_confirm" class="columns">
  <div class="row">
    <div class="small-12 large-8 columns">
      <p>If you have lost or not received the email to confirm your address, you can request another by entering your email address in the box below.</p>
      <p>If the email does not arrive in your inbox, please check your spam folder. If it is not there, please contact <a href="{{ template_config['TICKETS_EMAIL_LINK'] }}">the ticketing officer</a> for assistance.</p>
    </div>
      <div class="small-12 large-4 columns">
        <form action="{{ url_for('front.email_confirm') }}" method="post">
          <label for="email">Email Address</label>
          <input type="email" name="email" id="email" />
          <input type="submit" value="Confirm Email Address" class="button large expanded" />
      </form>
    </div>
  </div>
</section>
{% endblock %}
