<!-- front/password_reset.html -->
{% extends 'layout.html' %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
    <section id="password_reset" class="columns">
        <p>If you have forgotten your password, you can reset it by entering your email address in the box below and pressing submit. An email will be sent to the address you enter to confirm your identity, with a URL you must visit within 30 minutes to complete the process.</p>
        <p>If the email does not arrive in your inbox, please check your spam folder. If it is not there, please contact <a href="mailto:tickets@kebleball.com">tickets@kebleball.com</a> for assistance.</p>
        <form action="{{ url_for('front.password_reset') }}" method="post">
            <div class="row">
                <div class="large-12 columns">
                    <label for="email">Email Address</label>
                    <input type="email" name="email" id="email" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input type="submit" value="Submit Password Reset" class="button" />
                </div>
            </div>
        </form>
    </section>
{% endblock %}
