<!-- admin_tickets/view_ticket.html -->
{% extends 'layout.html' %}

{% block title %}{% if not ticket %}No Ticket Found{% else %}View Ticket - #{{ '%05d' % ticket.object_id }}{% endif %}{% endblock %}

{% block content %}
    <section id="view_ticket" class="columns">
        {% if not ticket %}
            <p>No ticket was found with that ID.</p>
        {% else %}
            <h4>Ticket Details</h4>
            <p><strong>Price</strong>: &pound;{{ '%.2f' % (ticket.price / 100.0) }}</p>
            <p><strong>Name on ticket</strong>: {{ ticket.name }}</p>
            <p><strong>Owner</strong>: <a href="{{ url_for('admin_users.view_user', user_id=ticket.owner_id) }}">{{ ticket.owner.full_name }}</a></p>
            {% if ticket.collected %}
                <p><strong>Collected as</strong>: {{ ticket.barcode }}</p>
            {% endif %}
            <p><strong>Payment method</strong>: {{ ticket.payment_method }}</p>
            <p><strong>Payment reference</strong>: {{ ticket.payment_reference }}</p>
            {% if ticket.referrer_id != None %}
                <p><strong>Referrer</strong>: <a href="{{ url_for('admin_users.view_user', user_id=ticket.referrer_id) }}">{{ ticket.referrer.full_name }}</a></p>
            {% endif %}
            {% if ticket.card_transaction_id != None %}
                <p><strong>Payment Transaction</strong>: <a href="{{ url_for('admin.view_transaction', transaction_id=ticket.card_transaction_id) }}">#{{ '%05d' % ticket.card_transaction_id }}</a></p>
            {% endif %}
            {% if ticket.battels_id != None %}
                <p><strong>Battels term</strong>: {{ ticket.battels_term }}</p>
                <p><strong>Battels ID</strong>: <a href="{{ url_for('admin_users.view_user', user_id=ticket.battels.user.object_id) }}">{{ ticket.battels.battelsid }}</a></p>
            {% endif %}
            {% if ticket.reselling_to_id != None %}
                <p><strong>Reselling to</strong>: <a href="{{ url_for('admin_users.view_user', user_id=ticket.reselling_to_id) }}">{{ ticket.reselling_to.full_name }}</a></p>
            {% endif %}
            <h4>Ticket Status</h4>
            <ul>
                <li>Ticket <strong>is{% if not ticket.paid %} not{% endif %}</strong> paid.</li>
                <li>Ticket <strong>is{% if not ticket.cancelled %} not{% endif %}</strong> cancelled.</li>
                <li>Ticket <strong>is{% if not ticket.collected %} not{% endif %}</strong> collected.</li>
                <li>Ticket <strong>is{% if ticket.reselling_to_id == None %} not{% endif %}</strong> being resold.</li>
                <li>Ticket <strong>has{% if not ticket.resold %} not{% endif %}</strong> been resold.</li>
            </ul>
            <h4>Ticket Notes</h4>
            <form action="{{ url_for('admin_tickets.note_ticket', ticket_id=ticket.object_id) }}" method="post">
                <textarea name="notes">{% if ticket.note %}{{ ticket.note }}{% endif %}</textarea>
                <input type="submit" class="button tiny" value="Update" />
            </form>
            <h4>Actions</h4>
            <ul>
                {% if not ticket.cancelled %}
                    {% if ticket.can_be_cancelled_automatically() %}
                        <li><a href="{{ url_for('admin_tickets.auto_cancel_ticket', ticket_id=ticket.object_id) }}" class="button tiny">Refund &amp; Cancel</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('admin_tickets.cancel_ticket', ticket_id=ticket.object_id) }}" class="button tiny">Cancel</a><span class="small">N.B. This does not process any refund on the ticket</span></li>
                {% endif %}
                {% if not ticket.paid %}
                    <li><a href="{{ url_for('admin_tickets.mark_ticket_paid', ticket_id=ticket.object_id) }}" class="button tiny">Mark as Paid</a></li>
                {% endif %}
            </ul>
            <h4>Ticket's Card Transactions</h4>
            {% if ticket.transactions.count() > 0 %}
                <table id="transaction_table">
                    <thead>
                        <tr>
                            <th>Transaction ID</th>
                            <th>Commenced</th>
                            <th>Success</th>
                            <th>Status</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in ticket.transactions %}
                            <tr>
                                <td>{{ '%05d' % transaction.object_id }}</td>
                                <td>{{ transaction.commenced.strftime('%c') }}</td>
                                <td>{{ transaction.get_success() }}</td>
                                <td>{{ transaction.get_status()[1] }}</td>
                                <td><a href="{{ url_for('admin.view_transaction', transaction_id=transaction.object_id) }}" class="button tiny">View</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No transactions.</p>
            {% endif %}
            <a id="events"></a>
            <h4>Events</h4>
            {% if events.items %}
                <table id="events_table">
                    <thead>
                        <tr>
                            <th>Log ID</th>
                            <th>Timestamp</th>
                            <th>Actor</th>
                            <th>Message</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in events.items %}
                            <tr>
                                <td>{{ '%05d' % log.object_id }}</td>
                                <td>{{ log.timestamp.strftime('%c') }}</td>
                                <td><a href="{{ url_for('admin_users.view_user', user_id=log.actor_id) }}">{{ log.actor.full_name }}</a></td>
                                <td>{{ log.action }}</td>
                                <td><a href="{{ url_for('admin.view_log', entry_id=log.object_id) }}" class="button tiny">View</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if events.has_prev %}
                    <a href="{{ url_for('admin_tickets.view_ticket', ticket_id=ticket.object_id, events_page=(events_page-1)) }}#events" class="button tiny">Previous Page</a>
                {% endif %}
                {% if events.has_next %}
                    <a href="{{ url_for('admin_tickets.view_ticket', ticket_id=ticket.object_id, events_page=(events_page+1)) }}#events" class="button tiny">Next Page</a>
                {% endif %}
            {% else %}
                <p>No events recorded.</p>
            {% endif %}
        {% endif %}
    </section>
{% endblock %}
