<!-- admin_users/view_user.html -->
{% extends 'layout.html' %}

{% block title %}{% if not user %}No User Found{% else %}View User - {{ user.full_name }}{% endif %}{% endblock %}

{% block content %}
    <section id="view_user" class="columns">
        {% if not user %}
            <p>No user was found with that ID.</p>
        {% else %}
            <h4>User Details</h4>
            <p><a href="{{ user.photo.full_url }}"><img src="{{ user.photo.thumb_url }}" /></a></p>
            <p><strong>First Name(s)</strong>: {{ user.forenames }}</p>
            <p><strong>Last Name(s)</strong>: {{ user.surname }}</p>
            <p><strong>Email</strong>: {{ user.email }}</p>
            <p><strong>Phone</strong>: {{ user.phone }}</p>
            <p><strong>College</strong>: {{ user.college.name }}</p>
            <p><strong>Affiliation</strong>: {{ user.affiliation.name }}</p>
            {% if user.battels != None %}
                {% if not user.battels.manual %}
                    <p><strong>Battels ID</strong>: {{ user.battels.battelsid }}</p>
                {% else %}
                    <p><strong>Battels Manually Added</strong></p>
                {% endif %}
                <p><strong>MT Battels Charge</strong>: &pound;{{ user.battels.michaelmas_charge_pounds }}</p>
                <p><strong>HT Battels Charge</strong>: &pound;{{ user.battels.hilary_charge_pounds }}</p>
            {% endif %}
            <h4>User Status</h4>
            <ul>
                <li>User <strong>is{% if not user.verified %} not{% endif %}</strong> verified.</li>
                <li>User <strong>is{% if not user.deleted %} not{% endif %}</strong> deleted.</li>
                <li>User <strong>is{% if not user.is_admin %} not{% endif %}</strong> an administrator.</li>
                <li>User <strong>has{% if not user.has_tickets() %} no{% endif %}</strong> tickets.</li>
                <li>User <strong>has{% if not user.has_unpaid_tickets() %} no{% endif %}</strong> unpaid tickets.</li>
                <li>User <strong>has{% if not user.has_paid_tickets() %} no{% endif %}</strong> paid tickets.</li>
                <li>User <strong>has{% if not user.has_uncollected_tickets() %} no{% endif %}</strong> uncollected tickets.</li>
                <li>User <strong>is{% if not user.is_waiting %} not{% endif %}</strong> waiting.</li>
                <li>User <strong>can{% if not user.can_pay_by_battels() %} not{% endif %}</strong> pay for tickets by battels.</li>
                {% if user.affiliation_verified == None %}
                    <li>User <strong>has not</strong> had their affiliation verified.</li>
                {% elif not user.affiliation_verified %}
                    <li>User's affiliation was <strong>denied</strong>.</li>
                {% else %}
                    <li>User's affiliation was <strong>verified</strong>.</li>
                {% endif %}
            </ul>
            <h4>User Notes</h4>
            <form action="{{ url_for('admin_users.note_user', user_id=user.object_id) }}" method="post">
                <textarea name="notes">{% if user.note %}{{ user.note }}{% endif %}</textarea>
                <input type="submit" class="button tiny" value="Update" />
            </form>
            <h4>Actions</h4>
            <ul>
                <li><a href="{{ url_for('admin_users.impersonate_user', user_id=user.object_id) }}" class="button tiny">Impersonate User</a></li>
                {% if not user.verified %}
                    <li><a href="{{ url_for('admin_users.verify_user', user_id=user.object_id) }}" class="button tiny">Verify User</a></li>
                {% endif %}
                {% if user.is_admin %}
                    <li><a href="{{ url_for('admin_users.demote_user', user_id=user.object_id) }}" class="button tiny">Demote User</a></li>
                {% else %}
                    <li><a href="{{ url_for('admin_users.promote_user', user_id=user.object_id) }}" class="button tiny">Promote User</a></li>
                {% endif %}
                {% if user.has_uncollected_tickets() %}
                    <li><a href="{{ url_for('admin_users.collect_tickets', user_id=user.object_id) }}" class="button tiny">Collect Tickets</a></li>
                {% endif %}
                {% if user.battels == None %}
                    <li><a href="{{ url_for('admin_users.add_manual_battels', user_id=user.object_id) }}" class="button tiny">Manually setup battelling</a></li>
                {% endif %}
                <li>
                    <form action="{{ url_for('admin_users.give_user', user_id=user.object_id) }}" method="post" id="give_tickets">
                        Give user
                        <input type="number" name="give_num_tickets" min="1" value="1" step="1" />
                        <select name="give_ticket_type">
                            {% for ticket_type in template_config['TICKET_TYPES'] %}
                                <option value="{{ ticket_type.slug }}">{{ ticket_type.name }} (&pound;{{ ticket_type.price_pounds }})</option>
                            {% endfor %}
                        </select>
                        tickets at &pound;
                        <input type="number" name="give_price_pounds" min="0" step="1" />
                        .
                        <input type="number" name="give_price_pence" min="0" step="1" max="99" />
                        each (leave blank to use default price) with reason
                        <input type="text" name="give_reason" />
                        .
                        <input type="submit" class="button tiny" />
                    </form>
                </li>
            </ul>
            <h4>User's Tickets</h4>
            {% if user.tickets.count() > 0 %}
                <table id="tickets_table">
                    <thead>
                        <tr>
                            <th>Ticket Number</th>
                            <th>Name on Ticket</th>
                            <th>Ticket Status</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticket in user.tickets %}
                            <tr id="ticket-{{ ticket.object_id }}">
                                <td>#{{ '%05d' % ticket.object_id }}</td>
                                <td>
                                    {% if ticket.name == None %}Not Set{% else %}{{ ticket.name }}{% endif %}
                                </td>
                                <td>
                                    {% if ticket.cancelled -%}
                                        Cancelled.
                                    {% elif ticket.collected -%}
                                        Collected as {{ ticket.barcode }}.
                                    {% elif ticket.paid -%}
                                        {% if ticket.payment_method == 'Free' -%}
                                            Free Ticket.
                                        {% else -%}
                                            Paid for by {{ ticket.payment_method }}.
                                        {% endif %}
                                    {% else -%}
                                        Awaiting payment. Expires {{ ticket.expires.strftime('%H:%M %d/%m/%Y') }}
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ url_for('admin_tickets.view_ticket', ticket_id=ticket.object_id) }}" class="button tiny">View</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No tickets.</p>
            {% endif %}
            <h4>User's Waiting</h4>
            {% if user.waiting.count() > 0 %}
                <table id="waiting_table">
                    <thead>
                        <tr>
                            <th>Waiting for</th>
                            <th>Waiting since</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for waiting in user.waiting %}
                            <tr>
                                <td>{{ waiting.waiting_for }}</td>
                                <td>{{ waiting.waiting_since.strftime('%c') }}</td>
                                <td><a href="{{ url_for('admin.delete_waiting', entry_id=waiting.object_id) }}" class="button tiny">Remove</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Not Waiting.</p>
            {% endif %}
            <h4>User's Card Transactions</h4>
            {% if user.card_transactions.count() > 0 %}
                <table id="transaction_table">
                    <thead>
                        <tr>
                            <th>Transaction ID</th>
                            <th>eWay ID</th>
                            <th>Commenced</th>
                            <th>Success</th>
                            <th>Status</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in user.card_transactions %}
                            <tr>
                                <td>{{ '%05d' % transaction.object_id }}</td>
                                <td>{% if transaction.eway_id != None %}{{ transaction.eway_id }}{% else %}N/A{% endif %}
                                <td>{{ transaction.commenced.strftime('%c') }}</td>
                                <td>{{ transaction.get_success() }}</td>
                                <td>{{ transaction.get_status()[1] }}</td>
                                <td><a href="{{ url_for('admin.view_transaction', transaction_id=transaction.object_id) }}" class="button tiny">View</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No transactions.</p>
            {% endif %}
            <a id="self_actions"></a>
            <h4>User's Events (performed by user)</h4>
            {% if self_actions.items %}
                <table id="self_actions_table">
                    <thead>
                        <tr>
                            <th>Log ID</th>
                            <th>Timestamp</th>
                            <th>Message</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in self_actions.items %}
                            <tr>
                                <td>{{ '%05d' % log.object_id }}</td>
                                <td>{{ log.timestamp.strftime('%c') }}</td>
                                <td>{{ log.action }}</td>
                                <td><a href="{{ url_for('admin.view_log', entry_id=log.object_id) }}" class="button tiny">View</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if self_actions.has_prev %}
                    <a href="{{ url_for('admin_users.view_user', user_id=user.object_id, self_actions_page=(self_actions_page-1)) }}#self_actions" class="button tiny">Previous Page</a>
                {% endif %}
                {% if self_actions.has_next %}
                    <a href="{{ url_for('admin_users.view_user', user_id=user.object_id, self_actions_page=(self_actions_page+1)) }}#self_actions" class="button tiny">Next Page</a>
                {% endif %}
            {% else %}
                <p>No events performed by user on self.</p>
            {% endif %}
            <a id="events"></a>
            <h4>User's Events (performed by others)</h4>
            {% if events.items %}
                <table id="events_table">
                    <thead>
                        <tr>
                            <th>Log ID</th>
                            <th>Timestamp</th>
                            <th>Actor</th>
                            <th>Message</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in events.items %}
                            <tr>
                                <td>{{ '%05d' % log.object_id }}</td>
                                <td>{{ log.timestamp.strftime('%c') }}</td>
                                <td><a href="url_for('admin_users.view_user', user_id=log.actor_id) }}">{{ log.actor.full_name }}</a></td>
                                <td>{{ log.action }}</td>
                                <td><a href="{{ url_for('admin.view_log', entry_id=log.object_id) }}" class="button tiny">View</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if events.has_prev %}
                    <a href="{{ url_for('admin_users.view_user', user_id=user.object_id, events_page=(events_page-1)) }}#events" class="button tiny">Previous Page</a>
                {% endif %}
                {% if events.has_next %}
                    <a href="{{ url_for('admin_users.view_user', user_id=user.object_id, events_page=(events_page+1)) }}#events" class="button tiny">Next Page</a>
                {% endif %}
            {% else %}
                <p>No events performed on user by others.</p>
            {% endif %}
            <a id="other_actions"></a>
            <h4>User's Actions (performed on others)</h4>
            {% if other_actions.items %}
                <table id="other_actions_table">
                    <thead>
                        <tr>
                            <th>Log ID</th>
                            <th>Timestamp</th>
                            <th>Target</th>
                            <th>Message</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in other_actions.items %}
                            <tr>
                                <td>{{ '%05d' % log.object_id }}</td>
                                <td>{{ log.timestamp.strftime('%c') }}</td>
                                <td><a href="url_for('admin_users.view_user', user_id=log.user_id) }}">{{ log.user.full_name }}</a></td>
                                <td>{{ log.action }}</td>
                                <td><a href="{{ url_for('admin.view_log', entry_id=log.object_id) }}" class="button tiny">View</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if other_actions.has_prev %}
                    <a href="{{ url_for('admin_users.view_user', user_id=user.object_id, actions_page=(actions_page-1)) }}#other_actions" class="button tiny">Previous Page</a>
                {% endif %}
                {% if other_actions.has_next %}
                    <a href="{{ url_for('admin_users.view_user', user_id=user.object_id, actions_page=(actions_page+1)) }}#other_actions" class="button tiny">Next Page</a>
                {% endif %}
            {% else %}
                <p>No events performed by user on others.</p>
            {% endif %}
        {% endif %}
    </section>
{% endblock %}
